[2017-08-22 10:12] phra opened #1 "add disclaimer about insecure client permissions"
hi,

i think that you should cite in the readme that this library should only be used to simplify the client side workflow but not as a security measure because client side checks are not secure at all.

[2017-08-22 10:25] #1 closed

[2017-08-22 10:25] AlexKhymenko commented on #1
Thank You!

[2017-08-23 22:29] eduardogdo opened #3 "Always check by lower level of role"
Hi, i extend my congratulations for this component. But when i have a user with role admin and role editor and want to access a functionality with role admin the user cant not access because it have a role with lower permission. thanks again

[2017-08-23 22:38] AlexKhymenko commented on #3
Hi Eduard. Can you please show in code or give more clarification so i can fix this issue faster. Thank You it will help me a lot.

[2017-08-23 22:44] eduardogdo commented on #3
Sorry Alex i work out a little more and it working was my mistake. Thanks again for the faster response and congratulations for this great component

[2017-08-23 22:44] AlexKhymenko commented on #3
Thank You have a Great Day!!

[2017-08-23 22:45] #3 closed

[2017-09-14 07:20] guygit opened #4 "*ngFor"
Hi,

it seems, the directives (eg. ngxPermissionsOnly) cannot be used within an "*ngFor" loop.

Example:
...*ngFor="let child of children" ..
<td yourDirective>{{child.value}}

In the example above, {{child.value}} does not get rendered - it seems to be shadowed by your Directive.

Can you confirm?
Is it by intent?

Thx a lot,

raven

[2017-09-14 07:36] AlexKhymenko commented on #4
Hi it depends on you intention. But the main restriction it **can't** be used in the same line as *ngFor(**Angular restriction not the library like you can't use ngIf with ngFor**)
[code]

and if you have permissions in children you can use it like this

[code]
and the 3 when you dont what to show ngFor at all You write like this

[code]

Hope This helps. Have A Nice Day!!

[2017-09-14 08:02] #4 closed

[2017-09-19 17:28] volpejoaquin opened #6 "CanLoad functionality"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Question
Are you going to provide a service to implement the canLoad function when importing a module with lazy loading? It would be a great help!

[2017-09-19 17:31] AlexKhymenko commented on #6
Good Day tomorrow will try to implement. But for sure on Thursday will be ready. Forgot about it :-)

[2017-09-19 17:35] volpejoaquin commented on #6
Oh !! Thanks, buddy!

[2017-09-20 12:50] AlexKhymenko commented on #6
Implemented documentation available here https://github.com/AlexKhymenko/ngx-permissions/wiki/Usage-with-routes#can-load-guard.

[2017-09-20 12:50] #6 closed

[2017-09-25 07:15] xyrintech opened #7 "Issue with get permissions"
I am loading the permissions in AppComponent as per the documentation and I am boot strapping the same component in app.module.ts.

When I am trying to get permissions in any other component then this returns empty object.

I have also added the NgxPermissionsService in providers array in app.module.ts

[2017-09-25 07:18] AlexKhymenko commented on #7
Dont do this 'I have also added the NgxPermissionsService in providers array in app.module.ts'
You should only import      NgxPermissionsModule.forRoot()

[2017-09-25 07:20] xyrintech commented on #7
tried the same as specified above, but still this gives empty object.

[2017-09-25 07:21] xyrintech commented on #7
I have imported NgxPermissionsModule.forRoot() in imports array in app.module.ts

[2017-09-25 07:25] AlexKhymenko commented on #7
Can You please reproduce in plunker and give me urlhttps://plnkr.co/edit/n6Wa6hXg0JzI6e050wBt?p=preview. Recheck please you didn't add anywhere permissionsService from example in component providers. You can degug dependency injection through augury

[2017-09-25 07:26] xyrintech commented on #7
do you use c9.io ?
I can give you c9.io access wherein the whole code resides.

[2017-09-25 07:27] xyrintech commented on #7
I have not added permissionsService anywhere in component provides and neither in app.module.ts.

[2017-09-25 07:30] xyrintech commented on #7
I have one question for this too:
Lets say we have a layout.module.ts and this is the shared module with other modules.

I have added NGXPermission module as listed below:

@NgModule({
    declarations: [
        LayoutComponent,
        HeaderNavComponent,
        DefaultComponent,
        AsideNavComponent,
        FooterComponent,
        QuickSidebarComponent,
        ScrollTopComponent,

[2017-09-25 07:33] xyrintech commented on #7
I think I figure it out. :)

[2017-09-25 07:34] xyrintech commented on #7
I am calling .forRoot multiple times.
This is where I am committing mistake.

[2017-09-25 07:34] xyrintech commented on #7
Thanks for such a early reply, really appreciate this.

[2017-09-25 07:34] #7 closed

[2017-09-25 07:51] AlexKhymenko commented on #7
You are welcome!!

[2017-09-27 09:38] Lantoine44 opened #8 "TypeError: rxjs_Observable.Observable.merge(...).mergeAll is not a function"
I'm submitting a Bug report

## my code in my component (bandeau-qoq.component.ts)
<pre>
import { Component, EventEmitter, Input, OnInit, Output } from '@angular/core';
import { Router } from '@angular/router';
...
import { NgxPermissionsService } from 'ngx-permissions';

@Component({
  selector: 'app-bandeau-qoq',
  templateUrl: './bandeau-qoq.component.html',
  styleUrls: ['./bandeau-qoq.compone

[2017-09-27 12:38] Lantoine44 commented on #8
Thank you very much, it works fine with the version 5.4.3 of rxjs whereas it was wrong with the version 5.1.0

[2017-09-27 12:38] #8 closed

[2017-10-06 13:30] stefanwuthrich opened #10 "Correct Implementation of load permissions after login (authentication)"
I have an implementation question.
I have app, where auth.service is loading permissions (roles) after authentication.
After I call loadPermissions in every component or module, i need to check auth.
But I have feeling, that this is not correct way. You load in your example app (hardcoded) permission in app.component and I am wondering, where is correct place to load permissions, after authenticat

[2017-10-06 14:09] AlexKhymenko commented on #10
Just load them in your authentication service. This.authenticate(url).switchmap(loadpermission).do((perm) => this.permissionServise.loadPermissions(perm)
Sorry from mobile phone

[2017-10-06 20:33] AlexKhymenko commented on #10
It totally depends on your business logic. You can load them in canActivate guard. Father authentication. Or even before application starts. Checkout wiki page. I'm sorry I'm on vacation :-)

[2017-10-07 05:15] stefanwuthrich commented on #10
tks for help and enjoy vacation :-)

[2017-10-07 05:15] #10 closed

[2017-10-07 06:51] AlexKhymenko commented on #10
Thank You. Have a good day.

[2017-10-14 10:55] ShaileshInfyom opened #11 "HELP : When refresh page its redirect on dashboard"
i have check permission on route. its working file. thanks for your time.
my issue is i load permission list when application startup.
**for ex**
my current page ` http://localhost:4200/#/app/users`. now i refresh page redirect on dashboard instead of stay on current page. but i don't know how to resolve this issue. i also try [to-load-permissions-before-application-start-up
](https://www.npmjs.co

[2017-10-14 12:16] AlexKhymenko commented on #11
Hi. It means that there are no permissions when application starts pls look in code maybe there is simple mistake in before application starts on try use another approach described here https://github.com/AlexKhymenko/ngx-permissions/wiki/common-use-cases-router sorry writing from phone on vacation :-)

[2017-10-14 13:06] ShaileshInfyom commented on #11
Thanks for your quick response. but actually problem due to interceptor.

[2017-10-14 13:06] #11 closed

[2017-10-23 12:57] joelmuskwe opened #12 "I have quick question i have loaded my roles via the RolesService how do i use or check against them say in the html template. For permissions it's simple by using the Permission directive. but for roles what do you use?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

<pre><code>
Angular version: X.Y.Z
ngx-permissions version: X.Y.Z

Browser:
- [

[2017-10-23 12:58] AlexKhymenko commented on #12
Good day. ngxPermissionsOnly, ngxPermissionsExcept directive is both for roles and permissions.

[2017-10-23 14:16] joelmuskwe commented on #12
Thank you for a quick response and an awesome library.

[2017-10-23 14:16] #12 closed

[2017-11-07 14:05] zveljkovic opened #13 "Guard and Directive use different logical operator"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
[code]
View directive is OR-ed  (ROLE_USER || ROLE_ADMIN)

[code]

Route guard is AND-ed (ROLE_USER && ROLE_ADMIN)..

## Expected behavior
They should work the  same

## Minimal

[2017-11-07 14:32] AlexKhymenko commented on #13
Hi. I have checked Route guard uses OR operator as well. Here is plunker.

[2017-11-07 15:15] zveljkovic commented on #13
Hi I have investigated more this issue. Here's the plunker

https://plnkr.co/edit/ficIgPfjlQIDiCJ8xIGa?p=preview

Seems that when setting redirectTo to a function then it behaves with AND operator.

[2017-11-07 15:33] AlexKhymenko commented on #13
Will investigate asap.

[2017-11-07 16:16] AlexKhymenko commented on #13
I have located the issue. Tomorrow or on Thursday will publish new version. Thank You.

[2017-11-07 16:18] zveljkovic commented on #13
Thank you!

[2017-11-08 10:00] AlexKhymenko commented on #13
After taking fresh look. I have done such behavior cause in such case

`  permissions: {
               only: ['canReadAgenda','canEditAgenda'],
               redirectTo: {
                 canReadAgenda: 'agendaList',
                 canEditAgenda: 'dashboard',
                 default: 'login'
               }
        }`  It will use and operator. And for me it seems like a valid use case. But

[2017-11-08 14:23] AlexKhymenko commented on #13
The problem is bigger than I thought. Will take more time then i expected.

[2017-11-13 15:44] AlexKhymenko commented on #13
Fixed with version 3.0.0

[2017-11-13 15:44] #13 closed

[2017-11-14 14:30] joelmuskwe opened #14 "Issue on refresh page with Implemented Guards"
I have the following issue i save my jwt token in the local storage now on page refresh i am retrieving the users permissions and roles from an api but it seems the guard is firing before the permissions and roles have been loaded. so my question is how can i wait for the roles and permissions to be resolved before firing the NgxPermissionsGuard

[2017-11-14 14:31] AlexKhymenko commented on #14
You can use this approach https://github.com/AlexKhymenko/ngx-permissions/wiki/common-use-cases-router

[2017-11-14 14:33] AlexKhymenko commented on #14
Or this one https://github.com/AlexKhymenko/ngx-permissions/wiki/Managing-permissions#to-load-permissions-before-application-start-up but i recomment google APP_INITIALIZER for better understanding.

[2017-11-14 14:38] #14 closed

[2017-11-14 14:49] joelmuskwe commented on #14
Have you ever tried it with a redux implementation like NGRX. on page reload i send a LOAD_USER action to retrieve user details.

[2017-11-14 14:53] AlexKhymenko commented on #14
The problem is you probably do it from component. When the application is already loaded. You need to do it before the application loads. maybe this will helps https://toddmotto.com/preloading-ngrx-store-route-guards

[2017-11-14 14:54] joelmuskwe commented on #14
thanks let me take a look at it

[2017-12-04 07:20] we125182 commented on #11
@ShaileshInfyom @AlexKhymenko  i have the same issue, could you tell me how to solve this? thank you!

[2017-12-04 07:28] AlexKhymenko commented on #11
The problem that you need to load permissions before application starts you can use canActivate guard to load permissions https://github.com/AlexKhymenko/ngx-permissions/wiki/common-use-cases-router

[2017-12-04 09:03] we125182 commented on #11
thank you for your response. when i follow what you suggested, the problem is still occur. i find NgxPermissionsGuard is start before get permissions
[code]

[2017-12-04 09:29] AlexKhymenko commented on #11
can you post how you use it. In routings :-)

[2017-12-04 09:59] we125182 commented on #11
@AlexKhymenko  like this
[code]

[2017-12-04 15:24] AlexKhymenko commented on #11
Sorry, Have temperature.

I dont see loading permissions in this code.when you use isActivate.
`private _isActivate(state): boolean {
    const activeRoute = localStorage.getItem('activeRoute');
    if (activeRoute) {
      localStorage.removeItem('activeRoute'); //
      this.router.navigateByUrl(activeRoute);
      return false;
    }
    return true;
  }`

[2017-12-05 02:02] we125182 commented on #11
oh, because i set a judgement to decide which flow i will use. Look at this
[code]
when refresh page the variable this.appConfig.hasGetAuthInfo is false. so the function _isActivate wouldn't run. After getting the user info and permissions, it will change to true. and In this moment, function _isActive will run.

[2017-12-05 03:26] we125182 commented on #11
@AlexKhymenko thank you for you response. and now i found what the problem is. it's a bug on angular [CanActivate guards on child routes run before parent CanActivate guards finish](https://github.com/angular/angular/issues/15670).
it fixed in version 4.3.2

[2017-12-07 14:22] morozenkomv opened #15 "rxjs_Observable.Observable.merge(...).mergeAll(...).first(...).toPromise is not a function"
Hi!
I have this error after update angular version

TypeError: rxjs_Observable.Observable.merge(...).mergeAll(...).first(...).toPromise is not a function
    at NgxPermissionsService.hasArrayPermission (ngx-permissions.umd.js:211)
    at NgxPermissionsService.hasPermission (ngx-permissions.umd.js:115)
    at NgxPermissionsDirective.validateOnlyPermissions (ngx-permissions.umd.js:471)
    at SafeSu

[2017-12-07 16:19] AlexKhymenko commented on #15
What is the version of rxjs library ??

[2017-12-07 19:19] morozenkomv commented on #15
5.5.1

[2017-12-07 19:21] AlexKhymenko commented on #15
I will recheck tommorow. But for quick fix just add manually operators(first mergeAll, toPromise) to you polyffils file.

[2017-12-07 19:23] AlexKhymenko commented on #15
Or try to upgrade to latest version

[2017-12-07 19:23] AlexKhymenko commented on #15
there was bug fixed in 5.5.2 package: fixed import failures in Webpack (#2987) (e16202d)

[2017-12-07 19:25] morozenkomv commented on #15
Thanks, I'll try.

[2017-12-07 20:13] morozenkomv commented on #15
This issue was fixed by refresh webpack manifest.
Issue can be closed.

[2017-12-07 20:19] #15 closed

[2018-01-02 10:42] dharapvj opened #16 "Usage of roles"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior
Currently, I do not understand the value of using roles. All directives, guards work on concept of permissions only.

May be I am missing some critical information. Hope to und

[2018-01-03 14:17] AlexKhymenko commented on #16
The main difference role uses 'and' operator. So for example admin (write and read permissions) if user doesnt have one of them it will not show. With this api you can do anything you want so for example you can write your own permission that will use some custom logic :-) I will update documentation after holidays :-)

[2018-01-04 05:32] sruthivarghese15 opened #17 "Whether I can give variables here without hardcoding the permissions for routes?"
let routes = [
  { path: '',
    canActivate: [AuthGuard],
    children: [
      {path: 'component',
      component: ComponentName,
      canActivate: [NgxPermissionsGuard],
      data: {
         permissions: {
           only: ['ADMIN', 'MODERATOR'],
           redirectTo: 'another-route'
         }
       }}
    ]
  }
]
Here you've hardcoded the permissions only for the routes right? But I wan

[2018-01-04 08:42] AlexKhymenko commented on #17
I don't fully understand your use case. But you can specify like custom permissions and then pass a function into it with custom logic you need(make a call and then write custom logic depending what will return).

[2018-01-04 09:08] sruthivarghese15 commented on #17
Like here you are permissions only to ADMIN and MODERATOR right? What if I want to get the details from the database?

[2018-01-04 09:21] AlexKhymenko commented on #17
You can make call to the database

[code]

[2018-01-04 11:51] sruthivarghese15 commented on #17
That thing I'm doing after login, adding the permissions.  But what if I need to restrict the access to the routes?

[2018-01-04 12:31] AlexKhymenko commented on #17
the same way. But probably what you are looking for is  load permissions before your application starts.

[2018-01-04 15:58] gantrim opened #18 "View restriction permissions break on refresh"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
`ngxpermissionsOnly` shows an element on the first page load, but that item is hidden when the page is refreshed or when you navigate away from a page and then back again.
## E

[2018-01-04 20:31] AlexKhymenko commented on #18
The problem is on refresh the whole application restarts and looses data. So its better to store permissions in localStorage and then load them.

[2018-01-08 19:47] gantrim commented on #18
Thank you for the reply. I probably should have tried localStorage.  Angular does allow for persisting data at the service level without depending on local storage though, so it may be something to look into in the future. For now however it might be enough to just update your examples to show or mention the usage of localStorage.

[2018-01-08 20:00] AlexKhymenko commented on #18
Hi services doesnt allow this :-) https://stackoverflow.com/questions/42249005/angular-2-persistent-data-storage-on-refresh-or-rerouting-to-external-urls-and-b
on the second parth will update as soon as i can :-)

[2018-01-09 11:08] Lempkin opened #19 "Component loaded twice"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

When I use lib to restrict access to a component, this component will be loaded twice if access is granted

## Expected behavior

The component should be loaded only once.

##

[2018-01-09 11:53] AlexKhymenko commented on #19
Thank You. Will try to fix this week.

[2018-01-10 14:50] AlexKhymenko commented on #15
@jrmlstf it can be due to some problem in cli. I have tried everything works.

[2018-01-12 15:15] AntonLebiodkin opened #20 "Unauthorized Strategies"
Hi, Alex! We are happy to use your library in our project!

Could you help me please with one question?
I need to disable the button when the user hasn't required permissions and now the only possibility to achieve this, as I understood, is to clone template of the button, make it disabled and pass it to `elseBlock`.

Is it possible to avoid such of code cloning and provide kind of predefined Stra

[2018-01-12 16:08] jrmlstf commented on #15
You were right @AlexKhymenko , the pbm came from @angular/cli. More precisely from build-optimizer. When switched off, error is gone. It probable removes some Rxjs code.

[2018-01-13 21:46] AntonLebiodkin opened #21 "Can't access component variables"
Hello guys!
I have kind of problem, when I can't access to component class fields from my `ng-template`'s.
Could you help me, how could i solve this problem?

Here is code example
[code]

And text where should be componentVar is empty

[2018-01-14 09:08] AlexKhymenko commented on #21
Hi. You can do something like this.

`<ng-template [ngxPermissionsOnly]="'PERMISSION'"
             [ngxPermissionsOnlyThen]="allowAccess"
             [ngxPermissionsOnlyElse]="denyAccess">
</ng-template>`

<ng-template #allowAccess let-variable="componentVar">
    <button type="submit" class="btn btn-primary">{{ variable }}</button>
</ng-template>

<ng-template #denyAccess let-variable="componen

[2018-01-15 10:45] AlexKhymenko commented on #20
This will required me to create directive that works on css. This required normal amount of time unfortunately i dont have time right now. When i will have i will create directive that works on css and not removes object from the dom.

[2018-01-15 10:45] #21 closed

[2018-01-16 08:27] AlexKhymenko commented on #19
Fixed in version 3.1.0

[2018-01-16 08:27] #19 closed

[2018-01-16 16:46] Lempkin commented on #19
Now I got this error when I apply restrictions on divs :

ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'unsubscribe' of undefined
TypeError: Cannot read property 'unsubscribe' of undefined
    at NgxPermissionsDirective.webpackJsonp.../../../../ngx-permissions/ngx-permissions.umd.js.NgxPermissionsDirective.ngOnDestroy (vendor.bundle.js:19790)
    at callProviderLifecycles (v

[2018-01-16 16:59] AlexKhymenko commented on #19
@Lempkin need more information tried applying to dive everything works. Created plunker would be nice.

[2018-01-16 17:19] Lempkin commented on #19
Seems that problem is just with primeNg component
[code]
If i refresh permissions the tab is supposed to appear/disappear, but it's not (I don't get the error above this time)

[2018-01-16 17:27] AlexKhymenko commented on #19
:-) i dont use every library. Tried on simple component it works. If you want to get deeper you need to understand how p-tabPanel works.  How they generate template. For now can only recommend to use ng-template like this

[code]

[2018-01-17 09:16] Spardevil commented on #15
Hi @jrmlstf , I have the same problem, what exactly you did to solve it ?

[2018-01-17 09:36] jrmlstf commented on #15
@Spardevil Build without build optimizer : `ng build --prod --build-optimizer=false`

[2018-01-17 10:01] Spardevil commented on #15
@jrmlstf Thanks, it works. I do understand that it's a cli problem, but anyway, it would be great to see it working with optimizer, eventually, it removes some unnecessary code, so I would like to see it enabled.

[2018-01-17 10:27] AlexKhymenko commented on #15
@Spardevil @jrmlstf Have quick fix that worked for me

Add hard version to package json
[code]

And my build script is

`node --max-old-space-size=4096 ./node_modules/@angular/cli/bin/ng build --aot --build-optimizer=true --output-hashing none`

And waiting for official fix :-)

[2018-01-18 19:34] #18 closed

[2018-01-18 19:34] #17 closed

[2018-01-18 19:35] #16 closed

[2018-01-19 10:20] davidkarlsen opened #22 "TestModule"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
No test support.

## Expected behavior
It would be nice with mock module or the likes, so that:
* the directives would be valid (and hence the test can be setup)
* a mock perm

[2018-01-20 17:07] AlexKhymenko commented on #22
I will investigate into this issue. But i can't give any estimates.

[2018-01-22 07:14] yogiswar1987 commented on #22
I would like to see this implemented as well

[2018-01-22 11:10] AlexKhymenko commented on #22
@davidkarlsen @yogiswar1987 Do You think you need the whole module stubbed or only directive for now.

[2018-01-22 11:19] davidkarlsen commented on #22
Could maybe start with directive? And if needed expand?

[2018-01-22 11:21] AlexKhymenko commented on #22
@davidkarlsen I guess yes will create 2 directives one for success and one for not success :-) Will see if it will be enough

[2018-01-22 15:06] AlexKhymenko commented on #22
@davidkarlsen i have implemented it but i have one problem. When testing in the library everything is ok. When im using angular cli with library from node_modules have error.

`Unexpected value 'NgxPermissionsAllowStubDirective' declared by the module 'DynamicTestModule'. Please add a @Pipe/@Directive/@Component annotation.`

Will try to figure it out this week.

[2018-01-22 16:27] eugenzor commented on #15
I have the same problem (cli 1.6.5 is being used)

[code]
didn't help

Does it mean that any Observable.merge is not working for the prod builds with --build-optimizer?

[2018-01-22 16:36] AlexKhymenko commented on #15
Yes. Just happens that ngx-permissions usually the first library thats getting on the way :-) Have you tried to add --output-hashing none ?

[2018-01-22 17:29] eugenzor commented on #15
Sorry `--output-hashing none` didn't help (don't think it affects any logic inside)

[2018-01-23 08:38] AlexKhymenko commented on #22
Added in 3.2.0. initial documentation > https://github.com/AlexKhymenko/ngx-permissions/wiki/Testing.

[2018-01-23 08:38] #22 closed

[2018-01-23 09:09] davidkarlsen commented on #22
Awesome - thanks a lot!

[2018-01-23 11:17] leoclc opened #23 "3.2.0 is not including new NgxPermissionsAllowStubDirective, NgxPermissionsRestrictStubDirective with NgxPermissionsModule."
## I'm submitting a...

<pre><code>
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

Version 3.2.0 is not including new NgxPermissionsAllowStubDirective, NgxPermissionsRestrictStubDirective with the NgxPermissionsModule.

## Expected behavior

I am sure you ju

[2018-01-23 11:22] AlexKhymenko commented on #23
Its not in module. Its outside specifically for testing.
You can import like this
`import { NgxPermissionsAllowStubDirective} from 'ngx-permissions';
`

[2018-01-23 14:28] AlexKhymenko commented on #23
Ok tried to compile with aot and prod build and found present in the form of this issue https://github.com/angular/angular/issues/13590. Will try to figure something out but i don't want this files to be in the build the are for testing purposes.

[2018-01-23 15:00] AlexKhymenko commented on #23
Fixed in version 3.2.1

[2018-01-23 15:00] #23 closed

[2018-01-24 09:00] AlexKhymenko commented on #15
@eugenzor This one worked for me rxjs 5.5.0 added import 'rxjs/add/observable/merge';
 and import 'rxjs/add/operator/merge';
to polifylls.ts

[2018-01-24 18:48] onatschirmaj opened #24 "Usage of roles"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

Neither the directives `ngxPermissionsOnly`, `ngxPermissionsExcept`, nor `except` and `only` with routes work when using roles. Neither the plunker demo is working with roles.

[2018-01-25 03:22] AlexKhymenko commented on #24
Need to update the docs and plunker. Will try to do it asap

[2018-01-25 09:21] AlexKhymenko commented on #24
@onatschirmaj Updated the documentation and plunker. Is the new version understandable?

[2018-01-25 12:32] kishansiliconinfo opened #25 "ngx-permissions - NgxPermissionsGuard routing issue redirect to default route."
## Current behavior
We have 3 child route and 1 root route
1. oneadmin/login
2. twoadmin/login
3. site/login
4. app route for root and lazy loading

I used to build angular 4 application with nodejs we have 2 admin panel, 1 site and app.module.ts we used for lazy loading, ngx-permissions, NgxPermissionsGuard.

After the user login from oneadmin they can access every route but if user is in dashboa

[2018-01-25 14:23] AlexKhymenko commented on #25
You can customize redirection with

permissions: {
          only: (route: ActivatedRouteSnapshot, state: RouterStateSnapshot) => {
              if (route.params['id'] === 42) {
                  return ['MANAGER', "UTILS"]
                } else {
                  return 'ADMIN'
                }
          }

[2018-01-26 04:41] kishansiliconinfo commented on #25
I know this redirection method but wanted to stay on current page after page refresh.

[2018-01-26 07:11] AlexKhymenko commented on #25
Do you load permissions on page refresh? https://github.com/AlexKhymenko/ngx-permissions/wiki/common-use-cases#save-permissions-on-page-refresh

[2018-01-26 07:15] kishansiliconinfo commented on #25
After user is logged in then i set permission from get token which is work as expected but when user refresh any component after login then it's redirect to default route.

[2018-01-26 07:22] AlexKhymenko commented on #25
You need to save them forexample in local Storage and the load them before application starts. The problem is when you refresh the page all data is lost including permissions and the application need them back. so the best way is to save to localStorage and then load again.

[2018-01-26 07:27] kishansiliconinfo commented on #25
I used localstorage to set the user object and get userobject but i assigned logged user role to ngx permission and then we used in route.

[2018-01-26 07:34] AlexKhymenko commented on #25
Just need 2 answers.
1. Do you have this permissions before applications starts?
2. You are loading user permissions before applications starts?

[2018-01-26 08:07] kishansiliconinfo commented on #25
No i don't have this permission on starting on the app. assigning permission after user login

[2018-01-26 08:16] AlexKhymenko commented on #25
So the problem is. When user logins you assign permissions everything is good. But then you refresh and the whole data is lost including permissions. The user triest to access the page. Router checkes the permissions for him to view the page. There are no permissions there. User redirects to another page.

So You need to save permissions on login to localStorate. And before app starts load them to

[2018-01-26 09:32] #25 closed

[2018-01-26 13:37] onatschirmaj commented on #24
@AlexKhymenko so that the permissions contained in role have to be added first, right? I understand that from the plunker, but to be honest, I can`t see it in the doccumentation. Thanks a lot anyway for updating the plunker.

[2018-01-26 13:38] AlexKhymenko commented on #24
@onatschirmaj in comments here :-)
https://github.com/AlexKhymenko/ngx-permissions/wiki/Managing-roles#defining-roles

[2018-01-26 13:41] onatschirmaj commented on #24
My bad, I was reading README :-[ Thanks a lot

[2018-01-26 13:41] #24 closed

[2018-01-29 18:16] primax79 opened #26 "Ownership-based access"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[X] Documentation issue or request
</code></pre>

## Current behavior
How to  implement the ownership-based access control, allowing for example only the owner to edit
 a specific resource?

## Expected behavior
I would allow to edit a resource
*

[2018-01-30 14:27] gauravhanda25 opened #27 "ngxPermissionsOnly not working in template"
## How I used -

`<p ngxPermissionsOnly="GUEST">Members online</p>`

## Permissions set in component and added role as below -

`   NgxPermissionsService.loadPermissions(["A"]);
    NgxRolesService.addRole('ADMIN', ['A']	);`

## Code added in component to check role is added in permission or not -

`let roles = NgxRolesService.getRoles();`
`NgxRolesService.roles$.subscribe((data) => {
	    console

[2018-01-30 14:29] AlexKhymenko commented on #27
try with * `<p *ngxPermissionsOnly="'[GUEST']">Members online</p>`

[2018-01-30 14:31] gauravhanda25 commented on #27
It gives me error of can't binding. This syntax does not work in my application. Anything else I can provide about my application ?

[2018-01-30 14:34] gauravhanda25 commented on #27
Tried this also from plunker demo
`*ngxPermissionsOnly="'GUEST'"`

but didnt work below is the error -
` <p [ERROR ->]*ngxPermissionsOnly="'[GUEST']">Members online</p>`

[2018-01-30 14:36] AlexKhymenko commented on #27
"'[GUEST']" should be "'['GUEST']"

[2018-01-30 15:45] #27 closed

[2018-01-30 16:04] gauravhanda25 commented on #27
ERROR Error: Uncaught (in promise): Error: Template parse errors: Can't bind to 'ngxPermissionsOnly' since it isn't a known property of 'p'. ("
          </div>
          `<p [ERROR ->]*ngxPermissionsOnly="['GUEST']">Members online</p>`

[2018-01-30 16:07] AlexKhymenko commented on #27
Please read the documentation https://github.com/AlexKhymenko/ngx-permissions/wiki

[2018-02-05 06:25] AlexKhymenko commented on #26
Hi Sorry have a lot of work. Do you manage to find a solution?

[2018-02-05 21:54] misaizdaleka commented on #16
+1 here

Some code in Plunker is very, very confusing:
[code]

Here you're defining a role name _GUEST_ with a permission named _ADMIN_??? Didn't you say in the docs that _It's a good convention to start permission with a verb and combine them with resource or object_???

[2018-02-05 22:00] misaizdaleka commented on #16
`NgxPermissionsService.removePermission('user');`

Again, the convention you mentioned says to _start permission with a verb and combine them with resource or object_.

[2018-02-06 08:15] AlexKhymenko commented on #16
@misaizdaleka Kind of yes but it really depends how your  backend service is sending you data.
For example usage of roles is when you have a lot of permissions and you want to combine them. But usually backend just uses admin, guest as permissions and not like roles then using just permissions service is enough.

[2018-02-07 18:54] dsgriffin opened #28 "loadPermissions not removing old permissions"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

In the [Multiple Permissions](https://github.com/AlexKhymenko/ngx-permissions#multiple-permissions) section of the docs it states that `loadPermissions` "will remove older per

[2018-02-08 08:34] AlexKhymenko commented on #28
Fixed in version 3.2.2

[2018-02-08 08:34] #28 closed

[2018-02-13 15:34] AlexKhymenko commented on #26
Closing due to inactivity.

[2018-02-13 15:34] #26 closed

[2018-02-13 17:51] devakone commented on #15
Running into the same error even with the imports added to `polyfills.ts`

[2018-02-13 17:53] AlexKhymenko commented on #15
@devakone what is the version of rxJs. Can You try with the version 5.5

[2018-02-13 17:54] devakone commented on #15
I am on 5.5.6

[2018-02-13 17:55] AlexKhymenko commented on #15
@devakone do you have error with 5.5.0 ?

[2018-02-13 18:06] devakone commented on #15
Yes i have a build error with 5.5.0
```Module not found: Error: Can't resolve 'rxjs/operators/map'```
but unlike the one we're talking about in this issue, this one is at build time. I think that's the error that you mentioned was fixed in 5.5.2

[2018-02-13 18:13] AlexKhymenko commented on #15
@devakone try with 5.5.2 also what version of cli you are using?

[2018-02-13 20:14] devakone commented on #15
for cli I am on 1.6.4. I'll try with 5.5.2 and report the result in a few

[2018-02-13 20:31] devakone commented on #15
It did work with RxJS 5.5.24. That is the craziest thing, you would think that any higher patch version would work.

[2018-02-19 11:25] panay opened #30 "Override NgxGuardPermissions"
Hello, everyone!

I would like to know could I override the NgxGuardPermissions? I just want to make logout if permission is denied.

Thanks!

[2018-02-19 11:37] AlexKhymenko commented on #30
You probably should use different approach, Depending how you make request. but if it usual way just use interceptor  and if you have 401 error redirect to login.

[2018-02-19 13:04] panay commented on #30
Thank you for the answer!
I create another guard that placed near to NgxPermissionGuard and who has this code:
`@Injectable()
export class PermissionsAuthGuard implements CanLoad {
  constructor(private store: Store<AuthStore.IState>,
              private router: Router,
              private permissionsGuard: NgxPermissionsGuard) {
  }

  canLoad(route: Route) {

    const loaded = this.permissi

[2018-02-19 14:33] #30 closed

[2018-02-22 17:28] zverbeta opened #31 "Observable.merge AOT compilation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

If i compile project with aot (--prod) flag. I got error in browser console `Observable.merge is not a function` in `validateExceptOnlyPermissions`

## Expected behavior

## M

[2018-02-22 19:31] AlexKhymenko commented on #31
Check different ngrx versions. Try 5.5.2

[2018-02-22 21:19] zverbeta commented on #31
But i have rxjs 5.5.2

[2018-02-23 06:08] AlexKhymenko commented on #31
This is bug angular cli + rxjs somehow it removes the merge operator.

[2018-02-23 07:58] AlexKhymenko commented on #31
After having too much pain with Observable.merge changed it to operator merge. Can You please try again.

[2018-02-23 09:50] ryan1509 opened #32 "No provider for InjectionToken USE_PERMISSIONS_STORE"
ERROR Error: Uncaught (in promise): Error: StaticInjectorError[InjectionToken USE_PERMISSIONS_STORE]:
  StaticInjectorError[InjectionToken USE_PERMISSIONS_STORE]:
    NullInjectorError: No provider for InjectionToken USE_PERMISSIONS_STORE!
Error: StaticInjectorError[InjectionToken USE_PERMISSIONS_STORE]:
  StaticInjectorError[InjectionToken USE_PERMISSIONS_STORE]:
    NullInjectorError: No provide

[2018-02-23 09:53] AlexKhymenko commented on #32
A little more information will be better. Can't help You with this information.

[2018-02-23 21:51] zverbeta commented on #31
I installed 3.2.4 version and it's working. Thanks

[2018-02-24 04:50] #31 closed

[2018-02-25 15:48] zverbeta commented on #31
Sorry, I tested without the prod flag, the bug still exists

[2018-02-26 12:28] AlexKhymenko commented on #31
Fixed in version 4.0.0. Now minimal rxjs version is 5.5.

[2018-02-26 14:20] AlexKhymenko commented on #32
Closing cause of not enough information. If You still have problem reopen it.

[2018-02-26 14:20] #32 closed

[2018-03-08 20:27] AlexKhymenko commented on #20
Fixed in version 4.1 initial documentation https://github.com/AlexKhymenko/ngx-permissions/wiki/Controlling-access-in-views#custom-behaviour

[2018-03-08 20:27] #20 closed

[2018-03-09 16:04] Lempkin commented on #19
@AlexKhymenko it happen also with ngxPermissionsExcept

[2018-03-09 17:37] vetik32 opened #33 "can I use 'and' with ngxPermissionsOnly"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior

it looks to me that

[code]
works like `or` and will show if ADMIN or if GUEST.

## Expected behavior

I'm looking for `and` use case, is it possible with current version?

I

[2018-03-09 17:42] vetik32 commented on #33
hmm, just checked
looks like it works, not sure if this is the right approach

[code]

[2018-03-09 20:46] AlexKhymenko commented on #33
You can absolutely do it like this. But also  you can use role, cause role use 'and' operator;

[code]

Just dont forget to define canDoAction1, and canDoAction2 in permissions service.

[2018-03-10 06:27] vetik32 commented on #33
role looks cleaner , thanks a lot

[2018-03-11 18:40] meherett commented on #10
example please

[2018-03-11 18:42] AlexKhymenko commented on #10
https://github.com/AlexKhymenko/ngx-permissions/wiki/common-use-cases

[2018-03-11 19:09] meherett commented on #10
Thanks Thanks Thanks

[2018-03-12 11:26] vetik32 commented on #33
in case I'm using role "way":
is it the right code to check for role permission?

[code]
is there a nicer way, e.g.:

[code]

[2018-03-12 12:27] AlexKhymenko commented on #33
You can try to use roleService.hasRole.

[2018-03-12 13:48] vetik32 opened #34 "can we build hierarchy?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[x] Documentation issue or request
</code></pre>

## Expected behavior

it's possible to build hierarchical rules?

[code]
which should:
 show all 4 buttons in case you have DELETE role/permission - `CRUD`
 show 3 buttons in case you have UPDATE

[2018-03-12 14:26] AlexKhymenko commented on #34
Use 2 approach for sure its easier to read and to maintain :-)

[2018-03-14 11:38] #34 closed

[2018-03-14 11:38] #33 closed

[2018-03-14 14:34] deyvidfk opened #35 "Get permissions after page refresh"
I do not know if I forgot something, but by forcing the reload of the page, I lose the permissions in memory.
The solution to my problem was to get the permissions saved in the localStorage and after the reload call the loadPermissions([permissions]) method ;
Would that be the best approach?

[2018-03-14 16:11] AlexKhymenko commented on #35
Yep. This is the most common approach https://github.com/AlexKhymenko/ngx-permissions/wiki/common-use-cases

[2018-03-14 17:07] #35 closed

[2018-03-15 15:04] sbabich-nix opened #36 "Is there any possibility for strict roles with shared permission?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior

Validation passes if permission is common for different roles
## Expected behavior

Need to have strict permission set validation.

ROLE_A: ['perm_a', 'perm_b']
ROLE_B: ['perm

[2018-03-15 16:22] AlexKhymenko commented on #36
I'm Sorry i dont fully understand your problem.

Maybe what you are trying to achieve is
[code]

[2018-03-15 16:29] AlexKhymenko commented on #36
I'm sorry but i dont understand what you want. If you need to write something custom use function.

[2018-03-15 17:43] sbabich-nix commented on #36
[code]

[code]

[code]

I suppose that in this particular case `<p>ADMIN</p>` should be visible, but none is visible.

[2018-03-15 17:53] AlexKhymenko commented on #36
Roles are checking permissions. And is this case you specify that user has 'users' and 'admins' permissions. So both roles are valid. What is written here in [ngxPermissionsExcept]="'USER'"
is it should not have 'users' permissions. [ngxPermissionsOnly]="'ADMIN'" = it should have 'users' and 'admins' permission. But first will always fail cause it have users permissions. Probably what you want is

[2018-03-15 18:13] sbabich-nix commented on #36
Actually in my case I need to separate permissions and roles to operate. Some parts should be restricted by permissions which is working well, but some parts are restricted by **roles**, and roles can overlap with permissions.

Is it possible to suggest adding a directive like `ngxRolesOnly`?

[2018-03-15 18:23] AlexKhymenko commented on #36
Mostly roles are just containers for the permissions. The main goal of roles is they use 'and' operator on permissions. So you dont need to write your custom permission like this

[code]

you just write

[code]

For your case you can write like this

[code]

[2018-03-16 14:42] davidbaroncp commented on #36
I aggree with @sbabich-nix, we should have the **ngxRolesOnly** & **ngxRolesExcept** directives, imagine the case of a role having many permissions (_ROLE_NAME: ['PERMISSION_A, PERMISSION_B, ..., PERMISSION_Z']_).
If you want to hide a certain feature for all the permissions of that role, it would be shorter to write this:
[code]
Instead of this:
[code]

[2018-03-16 14:56] AlexKhymenko commented on #36
@davidbaroncp but its working right now like this.

[2018-03-16 15:01] davidbaroncp commented on #36
@AlexKhymenko Are you meaning that you can provide a role name to **ngxPermissionsExcept** ?
Because I tried and it did not work for me... :cry:

[2018-03-16 15:06] AlexKhymenko commented on #36
@davidbaroncp i have rechecked its working https://plnkr.co/edit/F3kPRhmCudKVwQdoZr8r?p=preview go to roles page you will see it shows message except guest then i add guest role it dissapears

[2018-03-16 15:07] davidbaroncp commented on #36
@AlexKhymenko Thank you for your answers, I will check that.

[2018-03-16 22:00] AlexKhymenko commented on #36
@sbabich-nix after thinking why not just use it like this The user will not see it cause he has't got 2 permissions

[code]

[2018-03-20 14:01] stoto34 opened #37 "redirectTo with query parameters"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior

It's not an issue, just a question : I would like to know how can I redirect on page with the redirectTo command into a routing.

## Expected behavior

[code]

## Minimal repr

[2018-03-20 14:41] AlexKhymenko commented on #37
Under the hood it using 'navigate command' this should work

[code]
Documentation here https://github.com/AlexKhymenko/ngx-permissions/wiki/Usage-with-routes#property-redirectto

[2018-03-20 15:07] AlexKhymenko commented on #37
[code]

try this one

[2018-03-20 15:11] stoto34 commented on #37
Great ! It works ! :)
I think I will have some more question about your great package

[2018-03-20 15:11] #37 closed

[2018-03-20 16:08] yunier0525 opened #38 "How to listen permissionsAuthorized event"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior

I'm trying to capture the permissionsAuthorized event that is thrown when the permission is granted, but the method that I have linked to the event is not executed.

## Expect

[2018-03-20 18:55] AlexKhymenko commented on #38
I have tested unfortunately its not working with * form its working with ng template form. Not my restriction :-)
This one should work.

`<ng-template [ngxPermissionsOnly]="'ADMIN'" (permissionsUnauthorized)="reloadMenu()" `

[2018-03-20 19:49] #38 closed

[2018-03-21 02:23] dwayneforehand opened #39 "User has permission to current route"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior

First thank you for this!  It was just what we were looking for.  We have functionality where a user can impersonate another role.  I’m wondering how I’d go about checking to

[2018-03-21 07:51] AlexKhymenko commented on #39
Hi. There is the whole section regarding this issue :-)

https://github.com/AlexKhymenko/ngx-permissions/wiki/Usage-with-routes

[2018-03-21 17:57] AlexKhymenko commented on #39
If you mean that it can change while user is on the page.  You can listen to permissions and when they change rerun guard and resolvers.

[2018-03-22 06:52] AlexKhymenko commented on #36
@sbabich-nix I will close this issue. For now directive checks roles and permissions at the same time.

[2018-03-22 06:52] #36 closed

[2018-03-26 07:02] #39 closed

[2018-03-26 08:58] stoto34 opened #40 "How can use "canDoSomething" permission without role into the view ?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior

I'm not sure if I understood well but how can I use my permissions into the view ? I've got this permission : "canEdit" and I would like  to do something like that and I don't

[2018-03-26 10:02] AlexKhymenko commented on #40
Yes its possible the directive takes roles and permissions.

 [ngxPermissionsOnly]="['ROLE_USER', 'YOUR_PERMISSION']"

[2018-03-26 16:09] stoto34 commented on #40
Great, I gonna test that :)

Thank you again !

[2018-03-26 16:16] #40 closed

[2018-04-21 06:21] bjornharvold opened #41 "Support for loading the role / permission during the route guard check"
- make sure you have the correct permission
- go to a url with permission guard on it using that permission
- refresh the page
==> In my use case, there is no way I can load the permission fast enough because I cannot load the permission at application start. I need a way to be able to check permission with the server using the permission guard.

## I'm submitting a...
<pre><code>
[X ] Feature req

[2018-04-25 09:02] AlexKhymenko commented on #41
Hi. Sorry had a little rest. Do  You need still help ?. You can define permission as a function that will check permissions.

[2018-04-26 04:12] bjornharvold commented on #41
Hi @AlexKhymenko!

Can you point me to some code that shows the NgxPermissionsGuard doing that?

Thank you :-)

[2018-04-26 04:32] AlexKhymenko commented on #41
Here checkPermissionsService is service that will check permissions on backend it should return promise
[code]

[2018-04-26 10:20] zorrme opened #43 "Please release v6 as rxjs 6 has been released and it is not compatible with current version"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

Does not work with rxjs 6.0

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

<pre><code>
Angular version: X.Y.Z
ngx-permission

[2018-04-26 10:33] AlexKhymenko commented on #43
Hi there is pull request created by @thekiba  . But i can check it only on Saturday or Sunday. But for sure if everything is ok new version will be released before Monday.

[2018-04-26 10:36] thekiba commented on #43
@AlexKhymenko We already use this on production. You may publish as beta version. What you think?

[2018-04-26 10:48] AlexKhymenko commented on #43
@thekiba I would be glad to publish. I'm just far away from computer right now :-)

[2018-04-28 13:56] prakash403 opened #44 "Role based permmisions"
Hai ,

I am using ngx permissions library . i create role base navigation menu  but  meanwhile
 not able to work role based permmisons  button view update  is there possibility meand please explain

[2018-04-29 18:58] AlexKhymenko commented on #43
Released version 5.0.0-rc.0

[2018-04-29 18:58] #43 closed

[2018-04-29 18:58] AlexKhymenko commented on #44
Sorry i dont understand the problem can You explain more.

[2018-04-29 18:58] AlexKhymenko commented on #41
@bjornharvold Do you still have problems ?

[2018-04-29 19:52] zorrme opened #45 "v5.0.0-rc.0 does not work with rxjs6"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
v5.0.0-rc.0 does not work with rxjs6

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

<pre><code>
Angular version: X.Y.Z
ngx-per

[2018-04-29 20:01] AlexKhymenko commented on #45
@zorrme have You installed rxjs-compat also?

[2018-04-29 20:02] zorrme commented on #45
yes

[2018-04-29 20:05] AlexKhymenko commented on #45
@zorrme Yes :-) i have tested it worked. Can You please specify your environment and what error do You have?

[2018-04-29 20:08] zorrme commented on #45
I am using "@angular/cli": "^6.0.0-rc.7", rxjs 6, rxjs-compat 6, and angular ^6.0.0-rc.6.
The problem is I am using ngxPermissionsExcept directive, but looks the permissions is not getting populated.

[2018-04-29 20:12] AlexKhymenko commented on #43
For now dont use new version due to https://github.com/AlexKhymenko/ngx-permissions/issues/45

[2018-04-29 20:13] AlexKhymenko commented on #45
Thank You. Will recheck everything for now dont use new version.

[2018-04-29 20:38] zorrme commented on #45
Also, can you please provide a sample app if api has changed ?

[2018-04-29 20:40] AlexKhymenko commented on #45
I'm not planning on changing api. Im working on restoring all infrastructure(plunker). Tested with angular 5 it worked right now building new project with latest angular cli and angular will test it.

[2018-04-29 21:06] AlexKhymenko commented on #45
@zorrme i have tested with latest angular and it worked

[2018-04-29 21:31] zorrme commented on #45
My bad, the code to populate the permissions was commented. It is all good now, thanks.

[2018-04-29 21:31] #45 closed

[2018-04-29 21:36] AlexKhymenko commented on #45
:-)

[2018-04-29 21:38] AlexKhymenko commented on #43
nevermind all good :-)

[2018-04-29 22:15] AlexKhymenko opened #46 "Move plunker to statblitz"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

<pre><code>
Angular version: X.Y.Z
ngx-permissions version: X.Y.Z

Browser:
- [

[2018-04-30 04:06] #44 closed

[2018-04-30 04:59] bjornharvold commented on #41
Hi @AlexKhymenko. I didn't receive a notification from Github on your post 4 days ago. Looking at it now. This looks doable :-) Closing ticket when I get it to work.

[2018-04-30 06:29] #41 closed

[2018-05-02 06:14] prakash403 opened #47 "Role Based Button Disable !!!!!!!"
Hai Alex,

I am using your library is there any possibility for user role Based Button  disabled.

Please advice . Using permissionsAuthorized and permissionsAuthorized

[2018-05-02 07:26] AlexKhymenko commented on #47
@prakash403 Hei hei, You can read about it here https://github.com/AlexKhymenko/ngx-permissions/wiki/Controlling-access-in-views#custom-behaviour

[2018-05-02 10:34] prakash403 commented on #47
Its working for Authorize and Unauthorized remove and show , Is there any possibility for unauthorized permissions disable the Button not to remove.

[2018-05-02 13:31] AlexKhymenko commented on #47
Here is guide https://github.com/AlexKhymenko/ngx-permissions/wiki/Common-use-cases#disable-element

[2018-05-03 03:34] prakash403 commented on #47
Thanks for Assistance!!!!!!

[2018-05-04 13:45] chrisvfabio opened #48 "Migrate to Angular CLI library?"
Do you have any plans on migrating this repo to use the new Angular CLI library configuration?
https://github.com/angular/angular-cli/wiki/stories-create-library

Are you accepting PRs?

Thanks!

[2018-05-07 05:32] AlexKhymenko commented on #48
@chrisvfabio You have done a fantastic job. Can You create a pull request?

[2018-05-07 11:39] #48 closed

[2018-05-08 16:34] chaosLegacy opened #51 "Permissions doesn't persist"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

Hi,Thank you all for your great job, I'm using this library for a web application that support multiple roles each role has different permissions my problem is that the permis

[2018-05-08 16:50] AlexKhymenko commented on #51
Hi version 5 is for rxjs version 6.
For the issue https://github.com/AlexKhymenko/ngx-permissions/wiki/common-use-cases#save-permissions-on-page-refresh

[2018-05-10 06:57] AlexKhymenko commented on #51
There are some ways to do it createSpecialPermission and in function specify what you want.
Another way is extract common permission to array and pass the array with other permissions

[2018-05-14 10:29] ShaileshInfyom opened #52 "rxjs.merge is not a function at NgxPermissionsDirective.validateExceptOnlyPermissions (ngx-permissions.umd.js:632)"
## I'm submitting a...

update angular 4.2 to 5.2.8 and update ngx-permisison package but not working a
</code></pre>

## Current behavior
Got error
<pre><code> rxjs.merge is not a function
    at NgxPermissionsDirective.validateExceptOnlyPermissions (ngx-permissions.umd.js:632)
    at NgxPermissionsDirective.ngOnInit (ngx-permissions.umd.js:611)
    at checkAndUpdateDirectiveInline (core.js:12411

[2018-05-14 11:02] ShaileshInfyom commented on #52
sorry my version mismatch

[2018-05-14 11:02] #52 closed

[2018-05-14 19:44] mikecockrell opened #53 "Unable to get directive to work, Angular 6"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
When following the examples from the setup guide, we are simply including NgxPermissionsModule.forRoot() in our imports inside our app.module.ts, we then have a nav menu compo

[2018-05-15 07:41] AlexKhymenko commented on #53
@mikecockrell For it to work just import  NgxPermissionsModule in your modules

[2018-05-15 09:13] AlexKhymenko commented on #53
So The main idea is this Put NgxPermissionsModule.forRoot() in you main module.
In All others modules put just NgxPermissionsModule.
In Lazy modules put  NgxPermissionsModule.forChild()

[2018-05-15 09:14] AlexKhymenko commented on #51
@chaosLegacy any other questions.

[2018-05-16 04:12] #51 closed

[2018-05-16 04:12] #53 closed

[2018-05-23 07:29] #46 closed

[2018-05-23 13:28] asafper opened #54 "Component with onpush requires detect changes"
Hi,

When using the ngxPermission directives inside compoent that uses OnPush strategy
the elements are not rendered correctly, if i invoke the changeDetectorRef.detectchanges manully
than everything is fine.

The strange issue is that if i have nested levels of permission directives inside the same component
i need to invoke the changeDetectorRef.detectchanges for each nesting level.

Can you ple

[2018-05-23 13:42] AlexKhymenko commented on #54
Can You please provide plunker of some github project example. And i will fix it :-)

[2018-05-24 04:32] AlexKhymenko commented on #54
@asafper Cause i can't reproduce

[2018-05-29 15:01] seanmavley commented on #52
@ShaileshInfyom Sorry, version mismatch like how?

I have `Angular: 5.2.11` and `"rxjs": "^5.5.11",`

I've updated my project by running `npm update`. Still having the error

[2018-05-29 22:02] listepo-alterpost opened #55 "Publish new version"
Hi @AlexKhymenko, when will the new version(6.0.0)?

[2018-05-30 07:30] AlexKhymenko commented on #55
Hi @listepo-alterpost There is no version 6. The 5 is the latest version. Here you can find versions and compatibility https://github.com/AlexKhymenko/ngx-permissions/wiki/Version-dependencies

[2018-05-30 10:10] listepo-alterpost commented on #55
@AlexKhymenko thanks

[2018-05-30 10:10] #55 closed

[2018-05-31 08:54] Nikhilkapoor20 opened #56 "How can i use NgxPermissionsAllowStubDirective ? Can you please provide the plunker ?"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ x ] Documentation issue or request
</code></pre>

## Current behavior
Normally it is working fine but in the unit test i am not able to bypass the directive condition. How can i bypass it

## Expected behavior

## Minimal reproduction of the pro

[2018-05-31 09:06] AlexKhymenko commented on #56
Is this not enough? https://github.com/AlexKhymenko/ngx-permissions/wiki/Testing

[2018-06-01 02:10] lemontreess opened #58 "Role Based Component"
``
## I'm submitting a...

## Current behavior
Hi Alex,

I am happy to use your library in project!
Could you help me please with one question?

[code]
[code]

[code]
  I want the button in the component to disable. What should I do？

[2018-06-01 02:37] AlexKhymenko commented on #58
Hi @lemontreess check out this guide https://github.com/AlexKhymenko/ngx-permissions/wiki/common-use-cases#disable-element

[2018-06-01 02:55] lemontreess commented on #58
But the button is in the component。

I want to make the button disable in the component。

[2018-06-01 02:57] AlexKhymenko commented on #58
I understand Do you consider doing like this

[code]

And then just pass permissions to component via input

[code]

[2018-06-01 03:02] lemontreess commented on #58
But if this component is already packaged

[2018-06-01 07:06] AlexKhymenko commented on #58
Sorry i can't write code right now. But preudo code will be find button in templateRef and then disable it.

[2018-06-01 14:58] almgwary opened #59 "NgxPermissionsDirective validateExceptOnlyPermissions rxjs.merge is not a function"
## I'm submitting a...

<pre><code>
[x] Bug report
</code></pre>

## Current behavior

Should upgrade to Angular 5 to solve this issue

## Environment

<pre><code>
Angular version: 5.2.6
ngx-permissions version: 5.0.0

[2018-06-01 17:38] almgwary commented on #59
Solve issue by using the correct compatible version here
`npm install ngx-permissions@4.1 --save`

- - - - - - - -
Description:

  *  `ngx-permission@5.0` version is compatible with `Angular 6`

  *  `ngx-permission@4.1` version is compatible with `Angular 5 `

[2018-06-01 17:38] #59 closed

[2018-06-01 18:23] almgwary opened #60 "NgxPermissionsModule forChild not expose NgxPermissionsStore"
## I'm submitting a...

<pre><code>
[x] Bug report
</code></pre>

## Current behavior

## Expected behavior

 NgxPermissionsModule forChild not expose NgxPermissionsStore

## Environment

<pre><code>
Angular version: 5
ngx-permissions version: 4.1

[2018-06-04 00:50] lemontreess commented on #58
Thank you for your answer。Although I still don't understand

[2018-06-04 08:41] AlexKhymenko commented on #60
Hi @almgwary  This is correct behavior. Only one store should be available, and its imported by root.

[2018-06-05 13:53] AlexKhymenko commented on #58
@lemontreess Sorry i have like no time at all ... as soon as i will have some time i will help You.

[2018-06-13 07:34] AlexKhymenko commented on #56
I will close this issue.

[2018-06-13 07:34] #56 closed

[2018-06-13 07:36] #60 closed

[2018-06-21 11:13] pablochud opened #61 "TyperError in rxjs - Cant use directive and permission guard"
When I try simply controlling access view by directive I got message error in console:
TypeError: rxjs.merge is not a function

The same problem is when I try usage with routes, but:
TypeError: rxjs.of is not a function

<pre><code>
[x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

[2018-06-21 12:06] AlexKhymenko commented on #61
Hi You should use correct version of library .
Use version 4.

With version 5 minimal rxjs dependency 6.0
With version 4 minimal rxjs dependency 5.5

[2018-06-21 12:14] pablochud commented on #61
so I understand that it will work with the angular 4 version?

[2018-06-21 12:15] AlexKhymenko commented on #61
Yes it will  https://github.com/AlexKhymenko/ngx-permissions/wiki/Version-dependencies

[2018-06-21 12:16] pablochud commented on #61
Thank you for your response.

[2018-06-21 12:17] #61 closed

[2018-06-21 15:02] pablochud opened #62 "Components don't see ones loaded permissions"
Forgive me in advance. I can't really understand why other components do not see permission I have loaded after login user.

1). I did _this.permissionsService.loadPermissions(permArray);_ in service after user is login with succeed.
2). I check if there is any permission loaded by _this.permissionsService.getPermissions()_
result: Object { add_logentry: {…}, change_logentry: {…}, delete_logentry:

[2018-06-22 07:15] pablochud commented on #62
I found solution: https://github.com/AlexKhymenko/ngx-permissions/issues/7

[2018-06-22 07:20] AlexKhymenko commented on #62
Yes You are should use forRoot only in app.module

[2018-06-22 07:38] #62 closed

[2018-06-22 10:51] pablochud opened #63 "Importing NgxPermissionsConfigurationService"
I can't finish the guide _https://github.com/AlexKhymenko/ngx-permissions/wiki/Common-use-cases#disable-element_ because there is no ngxPermissionsConfigurationService.
Anything else is working, but I would like to make custom behavior of directives.

When I try to import service it display a message "..ngx-permissions has no exported member 'NgxPermissionsConfigurationService'."

Below is a list

[2018-06-22 10:59] AlexKhymenko commented on #63
Use 4.1.0 version of library

[2018-06-22 11:48] #63 closed

[2018-06-22 12:02] pablochud commented on #63
OK!. That's it. Thank You for reply.

[2018-06-22 13:15] AlexKhymenko commented on #63
@pablochud No Problems Have a Great Day!!!

[2018-07-03 10:38] AlexKhymenko commented on #54
If anyone has the same problem, please create reproduction.

[2018-07-04 13:00] bsangee08 opened #64 "Error while installing ngx-permissions by this command 'npm install ngx-permissions --save'"
Hi,

I have downloaded this project in my local and tried to install npx-permissions.
But it is giving the following error.

PS E:\ngx-permissions-master> npm install ngx-permissions --save
npm ERR! code ENOSELF
npm ERR! Refusing to install package with name "ngx-permissions" under a package
npm ERR! also called "ngx-permissions". Did you name your project the same
npm ERR! as the dependency you'r

[2018-07-04 14:07] AlexKhymenko commented on #64
Probably you have named project also ngx-permissions

[2018-07-04 15:09] bsangee08 commented on #64
Yeah i found that in package.json.
Thanks.

[2018-07-04 15:09] #64 closed

[2018-07-15 15:17] mushfau opened #65 "Resolve permissions for route from a service"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Question or request
</code></pre>

## Current behavior

Currently we can get permissions returned from the function as a single string or an array of strings and works perfect as defined in the below example from the documentation

[code]
##

[2018-07-16 08:08] AlexKhymenko commented on #65
Probably its better to override standart guard. Maybe this issue will help You https://github.com/AlexKhymenko/ngx-permissions/issues/30

[2018-07-16 09:21] rajeshdlabz opened #66 "rxjs.merge is not a function"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

when ever i try to use the ngxPermissionsOnly directive i get the error "rxjs.merge is not a function"
<button *ngxPermissionsOnly="['500']" >Show!</button>
## Expected behavi

[2018-07-16 10:56] #66 closed

[2018-07-19 18:11] Amritpd opened #67 "Error Loading Permissions from Local Storage"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

The permissions load fine from Local Storage when the user does not refresh the app. However, when the user refreshes the app, I try to load the permissions again from local s

[2018-07-20 07:16] AlexKhymenko commented on #67
@Amritpd Please check what you get in variable perms.

[2018-07-20 11:37] dsajdl01 opened #68 "The variables inside <ng-template [ngxPermissionsOnly]="permission"> are not displayed"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behaviour

When I follow the ngx-permission documentation on ng-template, any component variables referenced inside the template are not displayed. If I use text only it all works prope

[2018-07-20 11:54] AlexKhymenko commented on #68
Check out this question https://github.com/AlexKhymenko/ngx-permissions/issues/21

[2018-07-23 12:33] AlexKhymenko commented on #68
IF You have any problems please reopen this issue.

[2018-07-23 12:33] #68 closed

[2018-07-23 12:34] AlexKhymenko commented on #67
Closing issue due to inactivity.

[2018-07-23 12:34] #67 closed

[2018-07-23 12:34] AlexKhymenko commented on #65
Reopen issue if you still have problem.

[2018-07-23 12:34] #65 closed

[2018-07-23 12:44] dsajdl01 commented on #68
I wanted to use multiple component's variables and the solution [#21](https://github.com/AlexKhymenko/ngx-permissions/issues/21) did not work. Therefore I stop using this library.

[2018-07-23 15:43] Amritpd commented on #67
The variable perms returns the permissions I have stored in local storage. It is not null. The issue is with the load.Permissions function. For some reason, it says "permissions.reduce is not a function" on page refresh, but it works in every other case.

[2018-07-23 15:50] AlexKhymenko commented on #67
Load permissions accepts an array. Thats why i'm asking about type.

[2018-07-23 19:41] Amritpd commented on #67
You're right! Thank you. JSON.parse(localStorage.getItem('permissions')) gives a JSON object which isn't the exact data type required for Load Permissions. Using <code> this.permissionsService.loadPermissions(Object.keys(perms)) </code> as perms is now in an array format.

[2018-07-25 13:10] rajguru827 opened #69 "redirectTo is not working for children routes."
I using the shared module with lazy loading of modules. While I am importing my shared module in all modules and *ngxPermissionsOnly is working is fine.

[code]

[code]

[code]

[2018-07-25 15:07] AlexKhymenko commented on #69
@rajguru827 Thats probably you are using lazy routes. ITs better to use https://github.com/AlexKhymenko/ngx-permissions/wiki/Usage-with-routes#can-load-guard

[2018-07-26 06:12] rajguru827 commented on #69
I tried using lazy routes still it's not working..facing the same problem.

[2018-07-26 07:40] rajguru827 commented on #69
[code]

[2018-07-26 07:56] pablochud opened #70 "Multiple permission authorization for content access"
For simple example, when I set two permission I expect the button will show up if user has two permission. not only one of them. At its simplest, This solution provide logic OR, I expect logic AND.
Do you have solution for that in library? Wrapping permission multiple times in `<div>` is not good.

`                <button *ngxPermissionsOnly="['pr_active_details','pr_closed_issue']" type="button"

[2018-07-26 09:14] AlexKhymenko commented on #70
@pablochud  You should use roles is this case  https://github.com/AlexKhymenko/ngx-permissions/wiki/Managing-roles

NgxRolesService
  .addRole('ROLE_NAME', ['pr_active_details', 'pr_closed_issue', 'permissionNameC', ...])

And then <button *ngxPermissionsOnly="['ROLE_NAME']" type="button" class="btn btn-secondary icon-size-small" value="detail"> <em class="fa fa-info"></em> </button>

[2018-07-26 09:31] AlexKhymenko commented on #69
@rajguru827 I will try to create reproduction. It will take some time.

[2018-07-27 07:30] #70 closed

[2018-07-30 12:11] harish-mistry commented on #69
@rajguru827 i faced the same problem and i have found the problem:

While defining a role and its permissions i was just calling addRole method, which caused the same problem, later on i have called loadPermissions method just before the addRole method having same permissions, whcih resolved the issue.

`this.permissionsService.loadPermissions(["VIEW", "CREATE", "EDIT"]);
this.rolesService.addRole

[2018-08-01 15:54] shamoons opened #71 "Having issues with unit tests"
Trying to write tests, but I get:

[code]

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

<pre><code>
Angular version: X.Y.Z
n

[2018-08-05 10:40] architechcro opened #72 "Usage question - ngxPermission directive"
## I'm submitting a

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ x ] Documentation issue or request
</code></pre>

## Current behavior
ngxPermissionOnly directive syntax is not working as described in documentation. I've tested several syntax cases and only one that works throws typescript error
tested:

[code]

[2018-08-06 06:39] AlexKhymenko commented on #71
@shamoons Hi thats why i have created this one https://github.com/AlexKhymenko/ngx-permissions/wiki/Testing

[2018-08-06 10:40] ranjithsiam commented on #72
I'm also having the same issue. My angular version is 6.0.0 and ngx-permission version is 5.0.0. Checked with all the syntax and its not working. Kindly help with this issue.

[2018-08-06 11:14] agnaveen opened #73 "No provider for NgxPermissionsStore! Error:"
I am getting the below exception:

My angular version: 5.2.11
rxjs version: 6.2.2
Could you please tell me what should be done for this?

I also tried including NgxPermissionStore in providers but still no luck.

`core.js:1449 ERROR Error: Uncaught (in promise): Error: StaticInjectorError(AppModule)[NgxPermissionsService -> NgxPermissionsStore]:    StaticInjectorError(Platform: core)[NgxPermission

[2018-08-07 09:06] AlexKhymenko commented on #73
@agnaveen  You forgot to imort NgxPermissions.forRoot() in your main module

[2018-08-07 09:09] AlexKhymenko commented on #72
@architechcro Its actully working :-) When You are using roles you should also have permissions working. Maybe use only permissions without roles for now. When you write like this *ngxPermissionsOnly="GUEST" You are referencing variable in the component thats why you have error. Cause in aot mode its checking variables

[2018-08-08 05:50] agnaveen commented on #73
After importing it in app.module (main module), I am getting the below exception:

[code]

[2018-08-08 07:44] AlexKhymenko commented on #73
@agnaveen  https://stackoverflow.com/questions/47236963/no-provider-for-httpclient

[2018-08-08 19:43] jfcere commented on #54
I have the same problem in my application but I cannot reproduce it in Stackblitz... I am so confused 😕!

https://stackblitz.com/edit/ngx-permissions-onpush

### Problem with directive
When I am using `*ngxPermissionsOnlyDirective` it won't reflect immediatly in the DOM until I make an action that force change detection ...

[code]

### Works with service

If I use `NgxPermissionsService.hasPermis

[2018-08-08 19:48] jfcere commented on #46
This can be a start if you want : https://stackblitz.com/edit/ngx-permissions-onpush 😄

[2018-08-09 05:15] agnaveen commented on #73
Finally it worked thanks a lot @AlexKhymenko

But able to see this error in the console: Should I need to do anything with this,

[code]

[2018-08-09 06:44] agnaveen commented on #73
To help other folks, I created the steps little detail than mentioned here and can be found [here](http://www.javadomain.in/angular-6-access-control-using-ngx-permission/),

[2018-08-09 06:56] AlexKhymenko commented on #73
@agnaveen Hi this is not ok please check out compatible table https://github.com/AlexKhymenko/ngx-permissions/wiki/Version-dependencies

[2018-08-09 08:55] ranjithsiam commented on #72
@AlexKhymenko I'm using the permissions only. I have loaded the permissions using this.permissionService.loadPermissions(["A"]) and in the routing side added the below line,
path: 'product',
                {
                 path:'product'
                 loadChildren: './product/product.module#ProductModule',
                canActivate : [NgxPermissionsGuard],
                data: {

[2018-08-09 19:39] jfcere commented on #54
I created my own structural directive to validate the permission and by adding `ChangeDetectionRef.markForCheck()` to trigger the change detection it fixed my  problem.

@AlexKhymenko would you find it acceptable to add `ChangeDetectionRef.markForCheck()` once the template has been instantiated/destroyed in the view container?

[code]

[code]

[2018-08-10 07:26] AlexKhymenko commented on #54
@jfcere Actually i was thinking about it. Just if i had repruduction it would be better. But i guess i will just add it but i can do it only on Monday

[2018-08-13 07:09] agnaveen opened #74 "ERROR TypeError: Cannot read property 'reduce' of undefined"
Recently I observed the below error in my console,

Can someone help me with the detail and resolution please ?

[code]

Thanks,
Naveen.

[2018-08-13 07:55] AlexKhymenko commented on #74
@agnaveen probably the same error as this one https://github.com/AlexKhymenko/ngx-permissions/issues/67

[2018-08-13 09:02] kalpanavr commented on #72
Hi @AlexKhymenko I too having the same issue.
I'm having the application with version Angular 6.0 and ngx-permissions 5.0. I'm using permissions only in my application.
Explanation : During the user's login, I'm loading the permissions using the below code,
`this.permissionService.loadPermissions(["Admin"])`
and in the routing part I have used as below,
`
{
path:'product' loadChildren: './product/

[2018-08-13 09:10] AlexKhymenko commented on #72
@kalpanavr probably you should use canLoad not canActivate and make sure that the permissions are available before application starts

[2018-08-13 09:25] AlexKhymenko commented on #54
@jfcere I have updated code but i didn't publish it yet. Is it possible for You to download code and verify that it fixed the problem?

[2018-08-13 10:12] kalpanavr commented on #72
@AlexKhymenko Thanks for your reply. I tried with canLoad but I couldn't achieve the expected result. Can you tell me how to check whether the permissions are loaded or not. Because I tried with the below code but its saying as no such method.

`var permissions = NgxPermissionsService.getPermissions();
`

[2018-08-13 10:52] AlexKhymenko commented on #54
@jfcere publish in version 6

[2018-08-13 12:22] davidkarlsen opened #75 "missing info on v6"
Can you provide release-info / migration-info for version 6 of the library?
https://www.npmjs.com/package/ngx-permissions

[2018-08-13 12:45] AlexKhymenko commented on #75
The only breaking change its moving to angular cli library generator. It can break some builds so I published version 6

[2018-08-13 12:46] davidkarlsen commented on #75
Hm - upgrading broke for me on latest angular 6.1.x

[2018-08-13 12:50] AlexKhymenko commented on #75
What exactly did it broke ?

[2018-08-13 13:05] AlexKhymenko commented on #75
@davidkarslen it would be very helpful :-) cause other people can have the same problem

[2018-08-13 15:01] AlexKhymenko commented on #75
@davidkarlsen tested on several app everything works....

[2018-08-13 16:15] AlexKhymenko commented on #75
@davidkarlsen If You have this error fixed in Function calls are not supported in decorators but 'NgxPermissionsModule' was called. version 6.0.1

[2018-08-13 16:15] #75 closed

[2018-08-13 16:16] AlexKhymenko commented on #54
@jfcere @asafper Fixed in version 6.0.1 If it still persist please open new issue

[2018-08-13 16:16] #54 closed

[2018-08-13 16:16] AlexKhymenko commented on #74
Check please what you are sending to the loadPermissions function

[2018-08-13 16:16] #74 closed

[2018-08-13 16:17] AlexKhymenko commented on #73
@agnaveen I will close this issue if You have some problems please let me know

[2018-08-13 16:17] #73 closed

[2018-08-13 16:17] AlexKhymenko commented on #71
@shamoons I will close this issue if you have problems please let me know

[2018-08-13 16:17] #71 closed

[2018-08-14 07:44] kalpanavr commented on #72
But i'm getting only an object as below screenshot
![per](https://user-images.githubusercontent.com/42338695/44078373-efea7c92-9fc3-11e8-9e1e-4b77d0211ad5.PNG)
 when using this,
`You should import ngxPermissionsService in
constructor(private ngxPermissionsService: NgxPermissionsService)

And then do this.ngxPermissionsService.getPermissions();`

[2018-08-14 07:57] davidkarlsen commented on #75
Indeed it is:
[code]

[2018-08-14 08:07] davidkarlsen commented on #75
Verified working with 6.0.1 - thanks a lot!

[2018-08-15 13:14] nikola-kljaic opened #76 "Problem adding roles in reslovers or guards"
I'm submitting a issue or new `feature` on adding roles in guards and reslovers.

I need to pull current user in guard or resolver and add role on application depending on user role.
Resolver does not get triggered.
Guards trigger but when setting role in guard I do not get passed NgxPermissionsGuard guard.

Code:
### AppModuleRouting.ts

const routes: Routes = [
  {path: '', redirectTo: 'dashboar

[2018-08-21 15:28] tanejamohit4 opened #77 "getting exception of merge operator inside the ngxPermissionsOnly directive"
Getting following exception when trying to use ngxPermissionsOnly directive. I have investigated the issue and found that merge operator is not inside the rxjs library. It is inside the rxjs/operators library. Please check this and fix this if this is an issue.

This issue is coming with the latest version which is 6.0.1. But it is working fine with 4.1 version. Please fix this with new version.

[2018-08-22 13:47] fravezzimattia opened #78 "Async object inside ngxPermissionsOnly doesn't work"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ x ] Documentation issue or request
</code></pre>

## Current behavior

###Component
<pre><code>
export class MyComponent implements OnChanges {
    @Input("id")
    id: number;
    obj: Object;

ngOnChanges(changes: SimpleChanges) {
        this

[2018-08-22 14:18] xyrintech opened #79 "Using NgxPermissionsGuard inside the module routing do not work."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

NgxPermissionsGuard do not work when we use NgxPermissionsGuard inside individual module's routing file.

app-routing.module.ts
[code]

manage-user.routing.ts
[code]

added Ng

[2018-08-23 09:07] nsacerdote commented on #77
I was also having this same problem.
In my case, the problem was that I was importing rxjs 5.5.X.
In order to make it work I also ended up using 4.1.

Copying from the readme.md:
[code]
IMO there is nothing to fix on latest version (I have to say that I didn't tried to upgrade my rxjs dependency, but I think that should solve the problem)

[2018-08-31 17:55] devarg commented on #79
Yo have to apply the guard on each route for it to work, grouping paths seem to not be supported, this might be a feature request as when you add the guard to each route it works fine.
[code]

[2018-09-05 08:51] Juzzers opened #80 "Roles functionality"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

Although roles can be defined using addRoles, assigning a name and a list of permissions, there appears to be no functionality gained by doing so, that I can see. The permiss

[2018-09-05 10:06] g-schmitz commented on #80
+ 1

[2018-09-14 02:01] harley1011 commented on #80
+1

[2018-09-24 11:45] AlexKhymenko commented on #79
@xyrintech @devarg is correct or you can Use canActivateChild please read more here https://angular.io/guide/router#canactivatechild-guarding-child-routes

[2018-09-24 11:45] #79 closed

[2018-09-24 11:47] AlexKhymenko commented on #77
@tanejamohit4 here is compatible table https://github.com/AlexKhymenko/ngx-permissions/wiki/Version-dependencies

[2018-09-24 11:47] #77 closed

[2018-09-24 11:48] AlexKhymenko commented on #78
@fravezzimattia Do you have this problem in the newest version?

[2018-09-24 11:51] AlexKhymenko commented on #80
@Juzzers It's because You need to define permissions also. so in this case You need to do is this.permissionsService.addPermission('accessAnalystsSection')

[2018-09-24 11:53] AlexKhymenko commented on #69
@rajguru827 Do you still need help?

[2018-09-26 04:22] thapld opened #81 "ngxPermissionOnly not working ngFor"
I cannot display menu aside when use ngFor
<ng-container *ngFor="let child of menuAsideService.menuList2$">
		<ng-container *ngxPermissionsOnly="child.permissions">
			<a
				[routerLink]="[child.url]"
				routerLinkActive="active"
				 class="menu-item">
				<span translate>{{child.title}}</span>
			</a>
		</ng-container>
	</ng-container>
If I remove ngFor then it works.
"<li class="m-menu__item"

[2018-09-26 07:05] AlexKhymenko commented on #81
@thapld probably you need to use async pipe in ngFor
`<ng-container *ngFor="let child of menuAsideService.menuList2$ | async">
`

[2018-09-26 07:32] AlexKhymenko commented on #81
@thapld here is plunker https://plnkr.co/edit/vCpRKTCbqtOECDyb6r8T?p=preview

Go to permissions page > add Admin permissions

File is src/permissions.component.ts

[2018-09-26 07:36] thapld commented on #81
Thank you so much. I will try it.

[2018-09-28 23:15] jonathanwoahn commented on #80
What's the purpose of adding permissions as well in the NgxRoleService.addRole('ADMIN', [...])? I would have thought adding the permissions there would override the need to do it in the PermissionService.

[2018-10-01 08:35] Juzzers commented on #80
Thanks, but it seems to me that addPermission will grant that permission to the current session won't it? So if you first need to grant every permission before you can create any roles, what difference does it make having the roles? If you have 3 different roles, you first grant every permission in every role before you can create them?

[2018-10-01 18:44] ivanycli opened #82 "Unit test failing on authorisedStrategy and unauthorisedStrategy"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

Unit test failing when using authorisedStrategy: 'enable' and unauthorisedStrategy: 'disable' directives with NgxPermissionsAllowStubDirective and NgxPermissionsRestrictStubDi

[2018-10-03 11:36] AlexKhymenko commented on #82
@ivanycli Hi sorry im  little bit overloaded now. I will fix this weekend.

[2018-10-03 19:13] ivanycli commented on #82
Thank you Alex!

[2018-10-05 16:39] McSam94 commented on #65
Hi, can i have an example on how to override the standard guard? I don't really understand how #30 example works.

[2018-10-08 13:50] AlexKhymenko commented on #65
@McSam94 The   const loaded = this.permissionsGuard.canLoad(route); will return You true or false depending on permissions you have, then You can change it to anything You want.

[2018-10-09 01:29] kmturley commented on #78
I have the same issue!
`<p>{{ community | async | json }}</p>`

Renders fine outside ngxPermissions, but is null when inside *ngxPermissionsOnly="['reader']"

[2018-10-09 06:33] fravezzimattia commented on #78
I moved permission into controller 🥇

[2018-10-09 08:02] BMLande opened #84 "issue when migrate project from angular5 to angular6"
hello,
 i am migrating app from angular5 to angular6 , i have used ngx-persission module .

-  "ngx-permissions": "^4.1.0",
-  "rxjs": "^5.5.6"

above version working fine for angular5

 below versions used in angular6

-    "ngx-permissions": "^4.1.0",
-    "rxjs": "^6.3.2",
-   "rxjs-compat": "6.2.2",

Error :
core.js:1673 ERROR TypeError: rxjs_Observable.Observable.of is not a function
    at n

[2018-10-09 08:05] AlexKhymenko commented on #84
@BMLande Please You the latest version of library

[2018-10-09 08:06] mariusl-a commented on #84
Hi. I'm using ngx-permissions just fine with Angular 6.

Make sure you use ngx-permissions@6.0.2 👍

[2018-10-09 08:12] BMLande commented on #84
thanks @mariusl-a i will check and get back to you ,, thanks for yours quick response :-)

[2018-10-11 15:35] blackholegalaxy commented on #80
I agree. I don't see the point to have roles which can contain an array of permissions if adding a role doesn't create the corresponding individual permissions.

If I had to do:
[code]

and in my component I want to ensure the current user has `createTopic` permission. What is the point to have correponding role?

I would expect that `this.rolesService.addRole('employee', ['createAnnounce']);` wou

[2018-10-12 21:01] AlexKhymenko commented on #80
@Juzzers @blackholegalaxy I gave it much thought why i haven't dont this its cause i was thinking use case when permissions are functions. I guess i will implement that when You pass array it will add permissions also (it will be less confusing for users of the library).

[2018-10-13 05:48] AlexKhymenko commented on #80
@Juzzers @blackholegalaxy The only problem is that right now it covers the use case when you have you need to compare with  '&&' You will use roles. I will need to create new method for this one is the name addRolesWithPermissionsDefined is good for You or maybe i should use different name?

[2018-10-13 07:06] blackholegalaxy commented on #80
`addRolesWithPermissions` would be sufficient I guess.

In the readme, I don't see much explaination about having the permissions being functions. What is a real world use case for that?

[2018-10-13 10:10] AlexKhymenko commented on #80
@blackholegalaxy You can define Your custom  logic for example if You need && or || or Make a call to the backend and it will check if allowed You can do anything.

[2018-10-13 14:53] #81 closed

[2018-10-13 14:54] #76 closed

[2018-10-13 14:54] #69 closed

[2018-10-13 14:54] #84 closed

[2018-10-13 14:54] #72 closed

[2018-10-13 19:38] McSam94 commented on #65
@AlexKhymenko but where can I call web service and inject the permissions? In example #30, does it mean need to create another guard?

[2018-10-13 19:39] AlexKhymenko commented on #65
@McSam94 Yes You create your custom guard and write logic there.

[2018-10-15 12:37] bsangee08 opened #85 "ngx-permissions are not working for lazy loading"
Hi,

When adding ngx-permissions to my project, compilation error happens. My code contains multiple lazy-loaded modules and each one makes use of *ngxPermissionsOnly

Tried importing NgxPermissionsModule, NgxPermissionsModule.forRoot(), NgxPermissionsModule.forChild() in both main app module and child layout module, but nothing worked.

Please refer to the stackoverflow link below for routing and

[2018-10-15 12:45] mariusl-a commented on #85
This works for me:
import NgxPermissionsModule.forRoot() in app.module.ts
import NgxPermissionsModule.forChild() in all child modules

[2018-10-15 12:57] bsangee08 commented on #85
Thanks for your reply.

Could you please tell where am I going wrong?
https://stackoverflow.com/questions/52815417/ngxpermissions-not-working-with-lazy-loaded-module

[2018-10-16 10:13] ShubhamJainSJ commented on #85
Update ngx-permissions package to latest version 6.0.2 and it should work fine.

[2018-10-17 09:29] mariusl-a commented on #85
Can close this one - Was due to wrong version.

[2018-10-17 09:38] mariusl-a commented on #78
Did you try wrap ng-container around it?

[code]

[2018-10-17 09:40] #85 closed

[2018-10-17 22:59] kmturley commented on #78
Yes that works! but not the ideal solution :)

[2018-10-19 12:43] yd021976 opened #86 "Custom strategy function enhancement"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X] Feature request
[ ] Documentation issue or request
</code></pre>

Hi, first, thank you for this great angular module !

## Current behavior
Implement with success a authorizedStrategy and/or unauthorisedStrategy. So I can do whatever I want on the DOM element ba

[2018-10-19 14:48] AlexKhymenko commented on #86
@yd021976 Ohhhhhh didn't expect this one :-) Not sure how to implement it.... For now you can just nest
directive in directive
[code]

[2018-10-19 20:45] ITEANJD opened #87 "Passing a variable as permission"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

element doesn't switch its status (from invisible to visible or vice versa) if the permissions are dynamic.

if I have a button like this:
` <button *ngxPermissionsOnly="some_

[2018-10-20 01:07] AlexKhymenko commented on #87
@ITEANJD Thank You. WIll fix it next week.

[2018-10-20 04:44] yd021976 commented on #86
@AlexKhymenko Humm... didn't get it right now :-) If I understand I should create as many strategy functions as permissions ? I'll give it a try, but I'm afraid the DOM manipulation will be tricky because of parsing nested DOM elements (parent, sibling, child etc...).

For example, how in strategy function should I know that I must get the parent element instead of sibling ?

Are you ok if I work

[2018-10-21 18:14] kmturley commented on #78
I tried to replicate in Plunker using an HTTP request, but it seems to work there:
https://plnkr.co/edit/4evjZE?p=preview

[2018-10-22 09:03] AlexKhymenko commented on #87
@ITEANJD Fixed in 6.0.3.

[2018-10-22 09:03] #87 closed

[2018-10-22 09:04] AlexKhymenko commented on #78
@fravezzimattia @kmturley Can you please try with version 6.0.3

[2018-10-22 11:17] AlexKhymenko commented on #87
@ITEANJD Fix it in version 6.0.4

[2018-10-22 17:32] AlexKhymenko commented on #78
@fravezzimattia @kmturley Can you please try with version 6.0.4

[2018-10-22 20:38] kmturley commented on #78
seems to work for me! woohoo!

[2018-10-23 07:58] AlexKhymenko commented on #80
regarding this issue i have implemented it but there is one problem cause when You want to delete role You expect that that roles will be also deleted

[2018-10-23 08:45] AlexKhymenko commented on #78
@fravezzimattia If You still have this issue please reopen it

[2018-10-23 08:45] #78 closed

[2018-10-23 09:38] ITEANJD commented on #87
I'm still having some issues with it.

what I have:
- parent component with "Add button"
- each children component is accessible using routes like _products_, _roles_, etc...

what I do in parent component:
- take the route _products_, remove last character so it's "product" then add a prefix store, so I ended up with **store_product**
- store this **store_product** as string or array in variable,

[2018-10-23 10:46] ITEANJD commented on #87
I think it works, but I'm going to test it more
then I will tell you if it works as expected.

[2018-10-26 07:15] yd021976 commented on #86
Hi @AlexKhymenko , i've forked your project and upgrade it to angular V7.0.1.
So I've made many changes, more particularly in project structure and use the ng-packagr and angular library instead of your custom gulp to build library ==> This way, it is very simple to debug library with sourcemaps.

Note that I never use karma or other unit automated test tools, so I removed the root UT conf files a

[2018-10-29 08:12] AlexKhymenko commented on #86
@yd021976  Im always open to pull requests just test should be working cause they saved me so many times :-)

[2018-10-30 15:48] adammedford opened #88 "[Feature Request] Add pipes for handling permissions"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Your current implementation relies on structural directives which cannot share elements. *ngIf must be placed on a separate line from *ngxPermissions.

This could be avoided by

[2018-11-22 04:59] msonnad commented on #71
![image](https://user-images.githubusercontent.com/34677240/48882321-aa298c00-ee3f-11e8-8fbf-e8e22aa43e2a.png)

[2018-11-22 07:10] jaideept commented on #82
Hi Alex,

i work with @ivanycli  and we have tried with Ngx-Permissions 6.0.2 however, it is still failing  and looks like we need to update other dependencies. please let us know the dependency of Ngx-permissions 6.0.2
for e.g., it requires angular x which requires rxjs x etc.

[2018-11-22 07:14] AlexKhymenko commented on #82
Hi for testing please read this page https://github.com/AlexKhymenko/ngx-permissions/wiki/Testing
Library Version 6 rxjs 6.0 and higher, angular - 6,7; And its better to use 6.0.4

[2018-11-22 07:16] AlexKhymenko commented on #71
@msonnad Hi You need to import in the module where You use it.

[2018-11-22 07:21] jaideept commented on #82
Thanks Alex !

[2018-11-22 09:05] msonnad commented on #71
Hi, Is their any dependency on rxjs versions . I am using rxjs5.5.2 version. What is the angular version supported.?
Our version of angular is 5.0

[2018-11-22 09:24] AlexKhymenko commented on #71
@msonnad Please look on this pagehttps://github.com/AlexKhymenko/ngx-permissions/wiki/Version-dependencies
Will be your version 4.1.0

[2018-11-22 09:34] msonnad commented on #71
Thanks, i am able to find the correct version now.

[2018-12-04 02:08] matthew-valenti opened #90 "Using ngx-permissions in Angular Library Component"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior
I'm am using an Angular 7 library that has shared components (for use with other Angular apps). I'm trying to add permissions functionality to a my shared component in the libra

[2018-12-21 10:59] MikeDabrowski opened #91 "How to react to unauthorized situation on route to inform user?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

When using this library with routes, how can I react to unauthorized access just before redirection to show simple popup informing user that it has no access to that route?

## Minimal reproductio

[2019-01-07 16:20] MikeDabrowski opened #92 "Custom strategies not shared between modules / components"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

I use lazyloaded modules so I am importing forRoot() in app.module and forChild() in child modules.
I created custom strategy to handle disabling buttons (like in the docs) a

[2019-01-08 12:20] AlexKhymenko commented on #91
@MikeDabrowski Sorry for late response but You can overwrite guard. Here is example https://github.com/AlexKhymenko/ngx-permissions/issues/30

[2019-01-08 12:21] AlexKhymenko commented on #92
@MikeDabrowski Can You please post code or even better reproduction so I can help ?

[2019-01-08 12:22] MikeDabrowski commented on #91
@AlexKhymenko
Thanks, in the end that was what I used just couple days ago.

[2019-01-09 16:16] #91 closed

[2019-01-10 23:08] MikeDabrowski commented on #92
https://stackblitz.com/edit/angular-ngx-permission-issue-92

Managed to find some time to do this.
While doing it I found out that each `.forChild()` creates its own 'instance' of config. In my case it was shared because I used CoreModule which provided one common 'instance' further.

Hope you will understand from the code, but if something is not clear - let me know. Your lib solves my many probl

[2019-01-11 11:02] AlexKhymenko commented on #92
@MikeDabrowski  Thank You Very much :-) I will try to reduce problems that im creating :-)

[2019-01-15 15:04] AlexKhymenko commented on #92
@MikeDabrowski Fixed in 6.0.5 version :-) Thank You very much for creating bug request and reproduction of the problem.

[2019-01-15 15:09] #92 closed

[2019-01-15 15:10] AlexKhymenko commented on #90
Hi @matthew-valenti If You still have problems can You give me feedback.

[2019-01-15 15:10] #90 closed

[2019-01-15 15:10] AlexKhymenko commented on #88
Unfortunately it requires a lot of time that i don't have.

[2019-01-19 07:47] yd021976 commented on #58
Hi, if I can help :

- If you use "roles", then use in your template the **role name** to check permissions
e.g, according to the @cubet-rahul code sample: `<a *ngxPermissionsOnly="['ADMIN']" href="#" data-toggle="modal"></a>`
This will allow "ADMIN" role only, but all permissions of ADMIN role

- If you use "permissions", then use "permission name" in your template
e.g, according to the @cubet-ra

[2019-01-19 20:19] sezer commented on #58
@yd021976 thank you, its working now :). I was confused about loading/adding permissions. [ISSUE #80](https://github.com/AlexKhymenko/ngx-permissions/issues/80) is the key point.

[2019-01-25 18:10] constantinosergiou opened #93 "ERROR in : Can't bind to 'ngxPermissionsOnly' since it isn't a known property of 'p'."
## I'm submitting a...
ERROR in : Can't bind to 'ngxPermissionsOnly' since it isn't a known property of 'p'.
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environ

[2019-01-25 19:14] #93 closed

[2019-02-21 15:30] desenvolvedorfmais opened #94 "Permission only running 1 component"
Permission only running 1 component

I'm using the template
https://www.creative-tim.com/product/material-dashboard-angular2#
I applied the admin permission on the component sidebar.component and dashboard.component. And include the code in the sidebar.component.ts,

`this.permissionsService.loadPermissions (perm) ;`

. However on dashboard.component it is leaving the card invisible, and is not co

[2019-02-25 11:08] AlexKhymenko commented on #94
@desenvolvedorfmais Please show me the module configuration :-) maybe You used 2 forRoot methods.

[2019-02-25 17:33] desenvolvedorfmais commented on #94
Thanks, get missed to include in the main module that load other services. Thanks for answering.

[2019-02-25 17:33] #94 closed

[2019-03-25 11:03] AmineBena17 commented on #82
@AlexKhymenko  i already tried to use NgxPermissionsAllowStubDirective in my projects, but it's not working

[2019-03-25 11:27] AlexKhymenko commented on #82
@AmineBena17 Can You say what the problem is What version of ngx permissions you are using and what angular you are using?

[2019-03-25 12:59] AmineBena17 commented on #82
@AlexKhymenko
The problem is : NgxPermissionsService is undefined
ngx permissions version : 6.0.2
Angular version : 7
i followed the issue of testing ngx permissions, but i still have this error message.

[2019-03-25 13:56] AlexKhymenko commented on #82
So this is a little bit different problem just mock, Stub this service(NgxPermissionsService). NgxPermissionsAllowStubDirective  Doesn't use any service :-)

[2019-04-03 20:31] frostdevelopment979 opened #95 "HasOnlyRoles Does Not Appear To Be Working"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
While running a test case, I am adding two roles. When using the hasOnlyRoles('role1'), it returns true despite their being role1 and role2 added.

## Expected behavior
Should

[2019-04-03 20:34] frostdevelopment979 commented on #95
Real quick, wanted to thank you for this library. It is really slick and useful.

[2019-04-04 14:27] AlexKhymenko commented on #95
Hi @frostdevelopment979 You wrote
`this.roleService.addRole('role1', () => {
  return true;
});` and then of cource

`roleService.hasOnlyRoles('role1').then(values => {
console.log(values);
expect(values).toEqual(true);
});` will pass.

`roleService.hasOnlyRoles('role2').then(values => {
console.log(values);
expect(values).toEqual(true);
});` should not pass :-)

[2019-04-04 17:45] frostdevelopment979 commented on #95
this.roleService.addRole('role1', () => { return true; });
this.roleService.addRole('role2', () => { return true; });
roleService.hasOnlyRoles('role1').then(values => { console.log(values); expect(values).toEqual(true); }); should fail right?

[2019-04-05 08:23] AlexKhymenko commented on #95
@frostdevelopment979 it should pass :-) Cause you are returning true.

[2019-04-14 03:43] Niconal opened #96 "Description of add permissions in Defining roles"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior

Managing roles
Defining roles
Individual roles
//permissionNameA,B,C should be defined by permissions service
//this.ngxPermissionsService.loadPermissions(["permissionNameA",

[2019-04-15 16:01] frostdevelopment979 opened #97 "Request For RemoveAllRolesBut..."
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Not able to easily iterate through current roles and remove only those that do not match a new role (string).

## Expected behavior
Would like a mix between roleservice.flush()

[2019-04-15 18:20] frostdevelopment979 commented on #95
It seems as though the validation function is playing some odd role in this, which I personally wouldn't expect. Just my humble opinion. It seems like the roles service should be returning true or false solely in relation to if it has that specified role. Perhaps I just miss understand how this should be used. Don't get me wrong, the library is still getting me what I need rather efficiently but i

[2019-04-15 18:20] #95 closed

[2019-04-17 07:16] hugoj-goncalves opened #98 "Bundle size - RXJS"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Whole Rxjs gets into the final bundle.

## Expected behavior
Only used functions should be included.

## Minimal reproduction of the problem with instructions

Using the gettin

[2019-04-17 09:10] AlexKhymenko commented on #98
@hugoj-goncalves strange i thought i imported everything correctly. Will investigate but can do this only on weekends.

[2019-04-17 09:12] AlexKhymenko commented on #96
@Niconal  Hi the difference loadPermissions will remove all old permissions. and add permission will add permission to existing one. I will look into documentation and upgrade it so there will be no confusion

[2019-04-17 09:13] AlexKhymenko commented on #97
Hi @frostdevelopment979 i will look into the issue when its not rerenders. But im quite busy now. On weekends probably

[2019-04-18 16:46] hugoj-goncalves commented on #98
I couldn't find anything wrong, but simply removing the umd.js file seems to solve the issue.
I guess it's trying to use the umd.js file even when it shouldn't.

[2019-04-23 10:18] AlexKhymenko commented on #98
@hugoj-goncalves what version of cli are you using?

[2019-04-23 12:08] hugoj-goncalves commented on #98
strange...

![image](https://user-images.githubusercontent.com/10927715/56579748-54e8d680-65a7-11e9-91d3-8d9ab0e1ff51.png)

[2019-04-23 15:08] AlexKhymenko commented on #98
@hugoj-goncalves Thank You will check on this version.

[2019-04-24 05:13] yuniel-acosta commented on #93
I have the same problem, someone has a solution

[2019-04-24 23:20] LuisBonsembiante commented on #80
Hi everyone..any news about that?..is an importatn funtionality...thanks

[2019-04-30 07:37] faradoxuz opened #100 "Usage in component"
How can check the permission in .ts files in for loop?

[2019-05-06 11:01] AlexKhymenko commented on #100
Just use service. this.permissionsService.hasPermission

[2019-05-07 07:19] faradoxuz commented on #100
it returns promise and could not return value from promise

[2019-05-10 07:58] AlexKhymenko commented on #100
mmm sorry i didn't get the notification You can Use like this

`this.permissionsService.hasPermission.then((value) => {}) `

value will be the type of boolean.

[2019-05-10 09:12] AlexKhymenko commented on #100
its better that you show pseudo code that you want to write

[2019-05-10 09:13] AlexKhymenko commented on #88
Actually its impossible cause i need to have template :-)

[2019-05-10 09:13] #88 closed

[2019-05-11 10:43] andreadompe opened #101 "Redirect to Previous URL after Login with Auth Guard"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x ] Documentation issue or request
</code></pre>

## Current behavior

How can i redirect to previous URL after Login?

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

<pre><code>
Angular version:

[2019-05-16 14:07] andreadompe commented on #101
When i select url (ex. https://mysite.com/orders)
if i'm not logged the system bring me to the login page,
after the login how can i move the user to the previous page (/orders) ?

[2019-05-19 17:33] xyrintech opened #102 "ngxPermissionOnly Issue"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

`*ngxPermissionsOnly` does not work if used on any HTML native element - div, a etc.
But if the same thing used in mg-template with `[ngxPermissionsOnly]="['ADMIN']" `then thi

[2019-05-24 13:57] sutkovoy commented on #102
It works in example https://plnkr.co/edit/GSAKjeFDfpLjMvC2y11u?p=preview. Are you sure everything is correct in your code?

[2019-05-24 15:06] soyiatgit opened #103 "ngxPermissionsExcept not working correctly with multiple roles"
I have recently started using ngxPermissions (https://www.npmjs.com/package/ngx-permissions#multiple-permissions) for handling accesses in my angular app. However, I face difficulties when I have multiple roles for the same user. Example:

`<ng-template [ngxPermissionsExcept]="['SPECIAL_ROLE']">
    // special text here
</ng-template>`

I want that the above code should be visible to everyone who

[2019-05-25 10:55] AlexKhymenko commented on #103
Good Day @soyiatgit . This is how library works. If You wrote

 `<ng-template [ngxPermissionsExcept]="['SPECIAL_ROLE']">` - it means if user have this role it will not show the view in this page.

[2019-05-25 10:56] AlexKhymenko commented on #101
Hi @andreadompe this is actually not library functionality. The the solution is to save the url that user is trying to navigate to some service. And when user loges in just check if there is such url store is yes navigate to that url.

[2019-05-25 10:57] AlexKhymenko commented on #102
Hi @xyrintech we are using this in production and everything works. Can you check your code.

[2019-05-25 10:57] AlexKhymenko commented on #100
If there any problems let me know/

[2019-05-25 10:57] #100 closed

[2019-05-25 11:00] soyiatgit commented on #103
Hi, Really appreciate your time to answer.

Can you please explain, how can I achieve my use case. In other words, how can we check using the library that a view should not be shown only when it has explicitly a single role. If it contains any other role also, then the view be shown.

[2019-05-25 11:32] AlexKhymenko commented on #103
Hi @soyiatgit it actually depends how you  are using roles. Unfortunately right now what you want to achieve with roles is not possible. But with permissions its possible. Just turn all roles if you can to permissions  and then use custom function

` this.permissionsService.addPermission('shouldBeOnlySpecialRole', (permissionName, permissionsObject) => {
        return Object.keys(permissionsObjec

[2019-05-25 11:37] soyiatgit commented on #103
Yes, this is exactly what I am doing at the moment.

Thanks for your confirmation that this is not possible right now. Hope the library will support the same in future.

[2019-05-27 08:49] AlexKhymenko commented on #103
@soyiatgit Yes this will add more functionality to the library i will add It

[2019-05-28 09:40] JesustheLord opened #104 "preloading permissons"
Hi as per user doc i am using the below snippet to load permissions before app start. but its not working. throws error like undefined method **loadPermissions**. Please Help me
{
provide: APP_INITIALIZER,
 useFactory: (ds: AuthService, ps: NgxPermissionsService) => function () { return ps.loadPermissions(JSON.parse(localStorage.getItem('roles')['permissions'])) },
deps: [NgxPermissionsService],

[2019-05-28 12:30] AlexKhymenko commented on #104
what exactly doesnt' work?

[2019-05-28 13:57] JesustheLord commented on #104
On browser refresh pages went blank Since Permissions used in Guard to protect the routes. I referred the document and found the above **APP_INITIALIZER**
method to over come it.
I used the above shared snippet and facing the below error.
![error](https://user-images.githubusercontent.com/3406506/58483385-d373fd80-817d-11e9-95a0-d312bcc014c1.JPG)

[2019-05-28 15:41] AlexKhymenko commented on #104
Did you add forRoot?

[2019-05-29 17:51] hack2024 opened #105 "Upgrading to Angular 8"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

I intent to upgrade my version of angular from version 7 to version 8 and i get this "Incompatible peer dependencies found"
Package "ngx-permissions" has an incompatible peer

[2019-05-30 08:29] AlexKhymenko commented on #105
Fixed in version 6.0.6

[2019-05-30 08:29] #105 closed

[2019-05-30 12:34] lubkoKuzenko opened #106 "angular 8 - enableIvy": true"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

ng serve
**ERROR in ENOENT: no such file or directory, open 'd:/site/node_modules/ngx-permissions/ngx-permissions.js'**
## Expected behavior

no error
## Minimal reproduction

[2019-05-30 14:00] AlexKhymenko commented on #106
@lubkoKuzenko Thank You. I will look into it. But ivy is not really ready and there are a lot of bugs :-)

[2019-05-31 07:32] #102 closed

[2019-06-01 13:05] dbusacca commented on #106
It's not a Ivy bug, ivy is exposing an error in the generated package.json

The package.json contains

But the .js entry files on the archive are

So the ngx-permissions.js referenced on the package.json doesn't exists

If you change it to

it works.

Maybe @AlexKhymenko you can convert the project in an @angular/cli library.

[2019-06-03 06:21] xyrintech opened #107 "And - OR condition"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Currently [ngxPermissionsOnly]="['Admin','Guest']" checks whether both are available or not.

## Expected behavior
[ngxPermissionsOnly]="['Admin','Guest']"
If any of Admin or G

[2019-06-03 08:57] StickNitro commented on #106
Same problem for me with Angular v8, please see issue raised in [angular/angular#30781](https://github.com/angular/angular/issues/30781)

[2019-06-03 11:14] AlexKhymenko commented on #107
Mmmmm actually they are checking if any available :-) can you Please check code

[2019-06-03 11:39] xyrintech commented on #107
My point is there should be a way to specify where we need to have OR or AND case for permissions.

[2019-06-03 15:06] AlexKhymenko commented on #107
@xyrintech  ok but in case if i need something like this

`ADMIN && GUEST || SPECIAL` how to do like this one

[2019-06-03 17:13] xyrintech commented on #107
Yes, exactly.

[2019-06-04 07:16] AlexKhymenko commented on #107
Actually in such case You create Your own role and write rules in the function, There you have acess to all permissions  :-)

[2019-06-05 07:10] AlexKhymenko commented on #106
regarding this issue it will be fixed on 14

[2019-06-05 13:53] AlexKhymenko commented on #106
A actually migrated to the cli but i can't  make it work with ivy cause im having this issue https://github.com/angular/angular/issues/29363 a little bit later will try again

[2019-06-05 14:39] #104 closed

[2019-06-05 14:39] #101 closed

[2019-06-05 14:40] #107 closed

[2019-06-09 19:51] AlexKhymenko commented on #106
https://github.com/angular/angular-cli/issues/14594

[2019-06-10 13:00] AlexKhymenko commented on #106
@lubkoKuzenko I have fixed it in version 7 can You please verify. If some problems let me know. Just to clarify with version 7 of ngx-permissions minimal version of angular is 8

[2019-06-10 13:00] #106 closed

[2019-06-10 13:19] AlexKhymenko commented on #98
@hugoj-goncalves i have rechecked everything and moved to cli. there should be no problems this time. If You have more problems please reopen issue

[2019-06-10 13:19] #98 closed

[2019-06-10 14:37] AlexKhymenko commented on #96
Updated desription

[2019-06-10 14:37] #96 closed

[2019-06-11 08:34] AlexKhymenko commented on #103
Added in 7.0.2

[2019-06-11 08:34] #103 closed

[2019-06-11 17:25] NobodyIs001 opened #110 "ngx-permissions & material design issue"
Hi Alex,

I'm using Angular 7 and ngx-permissions v 6.0.6 and it looks like the strategies are not working if the material design is used. A brief example:

<code>

	<button mat-raised-button color="primary"  (click)='test()'
	*ngxPermissionsOnly="['ADMIN']; unauthorisedStrategy: 'ngxDisableElement'">
		ADMIN-enabled (1)
	</button>

	<button  (click)='test()' *ngxPermissionsOnly="['ADMIN']; unauth

[2019-06-12 12:07] AlexKhymenko commented on #110
@NobodyIs001 can i have reproduction :-) Cause i don't have time right now :-)

[2019-06-12 20:35] AlexKhymenko opened #111 "Library version 7.0.2 minimal angular is version 8"
This is just reminder for some time that with library version 7.0.2 minimal angular is version 8. Have a great day

[2019-06-12 20:36] NobodyIs001 commented on #110
@AlexKhymenko yes, of course. Here is very simple demo: [https://stackblitz.com/edit/angular-ngxpermission-material-issue?file=src%2Fapp%2Fapp.component.ts](https://stackblitz.com/edit/angular-ngxpermission-material-issue?file=src%2Fapp%2Fapp.component.ts)

Maybe I'm doing something wrong...

[2019-06-12 21:52] AlexKhymenko commented on #110
@NobodyIs001 actually this is hard one. So i have tried to do it normal way but it seems impossible
Found this issue https://stackoverflow.com/questions/51935312/mat-button-set-disabled-using-an-attribute-directive

and this one https://stackoverflow.com/questions/39908967/how-to-get-reference-of-the-component-associated-with-elementref-in-angular-2/39909203#39909203

Maybe there is clever way of

[2019-06-12 21:53] AlexKhymenko commented on #110
Maybe somebody can help :-)

[2019-06-13 07:06] NobodyIs001 commented on #110
Hi Alex,

thanks for info and feedback. Have a nice day :-).

[2019-06-13 09:19] jbjhjm commented on #106
7.0.2 runs fine with ng 8 for me. With Ivy enabled, the initial error `ERROR in ENOENT: no such file or directory, open 'd:/site/node_modules/ngx-permissions/ngx-permissions.js'`seems to be gone. Compiled successfully, but now there are lots of other things to solve. But that's a different story. This bugs seems to be solved for me.

[2019-06-14 07:40] NobodyIs001 commented on #110
I'm closing the issue, because your idea based on ng-template is quite comfortable for me ;). Thanks once again. I comes from ASP.NET world as an Angular newbie so I did not know that it can be solved by this way :)

[2019-06-14 07:40] #110 closed

[2019-06-15 18:28] soyiatgit commented on #103
Can you please link to some documentation how this works now in 7.0.2. Do we still simply have to put the user in ngPermissionExcept and the library automatically handles it or have you added any new directive for such cases.

[2019-06-24 07:38] sam17896 commented on #75
This should be in document.. for angular 6 -> ngx-permission 6.0.X should be used

[2019-06-25 08:24] sam17896 commented on #110
bit off topic but i was playing with the stackblitz example and i notice one strange thing, while using ngx-permission on mat-tab, ngx-permission causes a little fade in animation, the content of tabs animates in from the right. With out ngx-permission its doesn't cause animation.

here is the link:
[https://stackblitz.com/edit/angular-ngxpermission-material-issue?file=src%2Fapp%2Fapp.component.ht

[2019-07-03 18:24] monstrege opened #112 "package.json in the npm package has unwanted IVY metadata"
Hi,

I finally figured what a bug I was experiencing since a few days was.

I was getting this when I was trying to `ng build --prod` with `ivy` in `angular 8` :
[code]
which I did many times without success...

I finally found out that the culprit was the ngx-permission package.json that has some ivy compiler metadata inside.

Especially this part:
[code]

This part should just be local data, and

[2019-07-03 18:33] monstrege commented on #112
Temporary workaround is to change
[code]

and put your active angular version. 8.0.3 in my case at the moment.

This is located in ./node-modules/ngx-permissions/package.json

[2019-07-04 07:44] AlexKhymenko commented on #112
@monstrege Hi thank You. I will look into it but just to be honest ivy is kinda broken on 8 hopefully will be fixed :-)

[2019-07-08 07:54] petebacondarwin commented on #112
@monstrege - if you were deleting the `node_modules` folder and reinstalling the `ngx-permissions` package, why did it still contain the ngcc marker data? Are you saying that the published file contains these markers?

[2019-07-08 07:56] petebacondarwin commented on #112
Oh I see that the published `package.json` file does indeed have these markers!!
https://unpkg.com/ngx-permissions@7.0.2/package.json

[2019-07-08 12:08] AlexKhymenko commented on #112
@petebacondarwin i have rebuild with newest version but its still contains markers

`  "module_ivy_ngcc": "__ivy_ngcc__/fesm5/ngx-permissions.js",
  "__processed_by_ivy_ngcc__": {
    "module": "8.1.0",
    "typings": "8.1.0"
  }` is it ok?? Or i should change something?

[2019-07-08 12:15] petebacondarwin commented on #112
Don't run `ivy-ngcc` on the code that you publish. ngcc is a tool for consumers of your library to use.

[2019-07-08 12:16] petebacondarwin commented on #112
There should be no such markers in the `package.json` files that you publish to npm.

[2019-07-08 12:20] AlexKhymenko commented on #112
@petebacondarwin Thank You now i understand. When im creating new version it doesn't have ngcc markers. But then im testing that everything works fine in the app and on this moment its adding this markers.

[2019-07-08 12:27] AlexKhymenko commented on #112
@monstrege Fix in version 7.0.3 Please can You verify if everything is ok :-)

[2019-07-08 12:27] #112 closed

[2019-07-08 12:28] #111 closed

[2019-07-08 13:03] petebacondarwin commented on #112
Cool!

[2019-07-08 14:12] monstrege commented on #112
@AlexKhymenko Thx!
Also, I believe that those tags will be ok when ivy will work, but not at the moment.

[2019-07-09 06:01] bbalkonsky opened #113 "Checking permissions, not role"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ x ] Feature request
[ x ] Documentation issue or request
</code></pre>

I have a view:
`<ng-template *ngxPermissionsOnly="['EDITOR']">
<some_code>
</ng-template>`

and component:
`this.permissionsService.addPermission(['permissionA', 'permissionB']);
    this.role

[2019-07-09 06:05] AlexKhymenko commented on #113
actually You can write

`<ng-template *ngxPermissionsOnly="['permissionA']">`

So what are You doing is right :-)

[2019-07-09 06:30] bbalkonsky commented on #113
after addPermission and addRole i use `this.permissionsService.loadPermissions(['EDITOR']);`
in view
`<ng-template *ngxPermissionsOnly="['permissionA']">`
doesn't work, but `[ngxPermissionsOnly]="['EDITOR']"` works fine.
What am I doing wrong?

[2019-07-09 06:57] bbalkonsky commented on #113
my bad, just confused in usage notations

[2019-07-09 06:57] #113 closed

[2019-08-05 08:46] indowebdeveloper opened #114 "Can't bind to 'ngxPermissionsOnly' since it isn't a known property of 'div'"
Hello

I'm using Angular 6 and still new in it..
Then i'm trying to use this package but still have no luck with it

my problem is i'm try to use ngxPermissionsOnly inside the component of shared module

So my scenario is like this

1. I load the user permissions array from backend on app.component.ts and using loadPermissions to load all of the permissions
2. in my app.module i import the ngxPerm

[2019-08-05 10:50] indowebdeveloper commented on #114
Nvm, i forgot to import the permissionModule on the shared module.. :D

[2019-08-05 10:50] #114 closed

[2019-08-05 11:05] AlexKhymenko commented on #114
@indowebdeveloper  Try to import ngxPermissionsModule. Cause You only export it

[2019-08-12 07:15] danyhiol opened #115 "Material-Ui Disable element not working"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

When using material design, [disable element](https://github.com/AlexKhymenko/ngx-permissions/wiki/Common-use-cases#disable-element) is not working.

## Expected behavior

Use

[2019-08-12 08:20] AlexKhymenko commented on #115
@danyhiol Please look into this issue. https://github.com/AlexKhymenko/ngx-permissions/issues/110

[2019-08-12 08:28] AlexKhymenko commented on #115
@danyhiol Maybe You can find better solution. And post the answer here :-)

[2019-08-12 09:02] danyhiol commented on #115
@AlexKhymenko thanks for your answer. I've already checked that. Apart from using
[code]
wish forces you to have it in the component itself and not in the `app.component`, there is no other way. I founded that using
`this.renderer2.setAttribute(templateRef.elementRef.nativeElement.nextSibling, 'disabled', 'true');` does not affect material button `[disabled]-directive` at all. This may me linked t

[2019-08-12 09:20] AlexKhymenko commented on #115
@danyhiol Yes with native it works with material unfortunately not. Maybe i can come up some solutions cause material is widespread.

[2019-08-19 20:37] curlyfro opened #116 "Lazy loaded route not loading"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

lazy loaded route not loading

## Expected behavior

loaded lazy route

## Minimal reproduction of the problem with instructions

this is my root routing module.
i tried canL

[2019-08-20 13:04] AlexKhymenko commented on #116
There is a change that it doesn't have permissions to load that route. You should preload permissions first.

[2019-08-30 10:58] lubkoKuzenko opened #117 "Issue with unit tests - NullInjectorError: No provider for NgxPermissionsStore"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

[code]

## Expected behavior

No errors

## Minimal reproduction of the problem with instructions

Lazy loaded module module.ts
<code>NgxPermissionsModule.forChild()</code>

I

[2019-08-30 14:15] lubkoKuzenko commented on #116
app.module.ts

[code]

[code]

[2019-08-31 21:30] AlexKhymenko commented on #117
Hi please use specifically created  components https://github.com/AlexKhymenko/ngx-permissions/wiki/Testing

[2019-09-02 13:08] lubkoKuzenko commented on #117
thanks, after some time it's working. Issue can be closed.

[2019-09-02 13:08] #117 closed

[2019-09-10 16:30] troydietz commented on #80
I’m also very confused as what purpose providing a permissions array to the role does?  What was the motivation in allowing the permissions array as a second parameter to roles?

That’s particularly confusing because the docs give examples where a permissions array is being used.

[2019-09-20 11:59] AlexKhymenko commented on #116
If You have problem please let me know

[2019-09-20 11:59] #116 closed

[2019-09-24 23:08] ssaadoun2010 commented on #80
Even though, the example above works when loading only one permission! It doesn't work when there are more than one:

this.permissionsService.loadPermissions(['createTopic', 'editTopic']);
this.rolesService.addRole('employee', ['createTopic', 'editTopic']);

any updates on this feature?

[2019-09-26 09:52] NishanthRE commented on #92
Hi @AlexKhymenko,
 I am using canActivateChild in the child module, its working fine without any lack. But when i left the application for 10-15 mins and try to refresh the application i am redirecting to the permission denied component instead of authorized component even all the permissions get loaded. please see the integration below.

![Screenshot (148)](https://user-images.githubusercontent.c

[2019-10-31 18:00] hmarcelodn commented on #80
How does it works currently? Can I define the permissions for every role, and then by just loading the role get all my permissions? like:

['ADMIN', canViewDocuments, canEditDocuments]
['EDITOR', canViewDocuments]

Can I load EDITOR, and acquire all the permissions for EDITOR ?

[2019-11-02 13:48] troydietz commented on #80
I am still very confused at what benefit the role provides since you must add all permissions before the role.  If the author could give a short example (with code) demonstrating the use case, perhaps that would help clear up my confusion.  I'm sure you had a valid reason for taking the approach you did.

[2019-11-13 12:46] BrkCoder commented on #107
Hey @AlexKhymenko is this feature is on the last version of ngx-permissions 7.0.3 because I have tried to type in the following manner "ADMIN && GUEST" and the library act like this is a single permission, can you supply a better example for this case ?

[2019-11-13 15:35] AlexKhymenko commented on #107
Hi @BrkCoder . To do This You have 2 options create role and supply this two permissions. In Roles it's checking with and operator. Or add new permission

`
this.permissionsService.addPermission('SUPER_USER', (permissionName, permissionsObject) => {
        return !!permissionsObject['ADMIN'] && !!permissionsObject['GUEST'] ;
    }); `

[2019-11-13 15:39] AlexKhymenko commented on #80
Hi @troydietz . Sorry for the late reply. The biggest difference between role and permission and when You have role and You add permissions it will check with '&&' Operator. So for example You need that the user should have admin and editor permission. You just create 'Super user' role and add this two permissions.

`this.rolesService.addRole('SuperUser', ['admin', 'editor']);
`
And then just use

[2019-11-20 09:56] weiztech commented on #80
with this role as superuser
`this.rolesService.addRole('SuperUser', ['admin', 'editor']);`

and  want to allow only `editor`.

did `SuperUser` role work with `*ngxPermissionsOnly="editor"` ?

if not work, is there any way to that ?

thanks

[2019-11-20 12:13] AlexKhymenko commented on #80
Hi @weiztech. I understand what You are talking about to make it work. You need first add permissions.
`this.permissionsService.addPermissions['admin, 'editor;]
this.rolesService.addRole('SuperUser', ['admin', 'editor']);`
Then everything will work.

[2019-11-20 13:22] troydietz commented on #80
@AlexKhymenko  Thank you for your response.  I think I understand where the confusion is coming from.  The way I think I'd use a role is a different from you.  In most cases, I would never think of using a role in the ngxPermission directive.  Instead, I'd only use permissions.

For example, this is how I imagine using roles and permissions:

[code]

Possible roles:
role: Anonymous, permissions: [

[2019-11-21 08:19] weiztech commented on #80
Thanks, its worked 👍

[2019-12-04 18:06] alyeldegwy commented on #90
I got the same problem here I'm trying to load NgxPermissionsModule in a sharedModule but I'm getting a StaticInjectorError(AppModule)[NgxPermissionsService]

[2019-12-06 15:28] richardbartley commented on #115
So here is my workaround.  I found that it was marking the container as display:none.  I'm using Metronic material template and found that the ng-container was marked as display:none, even when the user had permissions.

Wrapping an extra div made my button appear and disappear correctly.  Although I had to then apply the css normally provided my the mPortletHeadTools to this div wrapper.

[code]

[2019-12-17 17:02] surebro00 opened #122 "How to use this with Firebase?"
Hi,

Angular noob here,

I'm currently using CRUD angular-firebase with some custom features, I would like to know how I can use this component with Firebase?

I already installed and imported all the files I need and everything works but I would like to connect it to firebase.

Thanks.

[2019-12-19 13:38] AlexKhymenko commented on #122
@surebro00 Sorry I don't work with firebase. But I will leave this issue open maybe somebody else can help You.

[2019-12-19 20:31] dimonx3 opened #123 "Checking has all permissions"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

I have a user with multiple permissions `permission-A` and `permission-B`. I check them with `only` property:
[code]
It works like **has any permission**. Check that the user

[2019-12-20 13:59] AlexKhymenko commented on #123
@dimonx3 For this case You can use role. cause role uses and operator. Or You can create Your own role and pass there function.

[2019-12-22 20:55] Nosfistis opened #124 "Permission pipe"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

While the directive usage is fine, sometimes it's useful having attributes based on permissions. For example, disabling a link cannot be done using directives. A better option would be an impure p

[2019-12-23 09:20] AlexKhymenko commented on #124
@Nosfistis This is great idea the pipe will only return true or false.. In this case problem with angular material would be fixed. But i actually need to find time for this. Probably after New Year :-)

[2019-12-23 12:11] Nosfistis commented on #124
Great! If you need any help I can prep a PR.

[2019-12-23 12:58] AlexKhymenko commented on #124
@Nosfistis If You have PR please submit it :-)

[2019-12-26 16:14] AlexKhymenko commented on #124
@Nosfistis I actually started figuring out. But i have some problems with API. How You want to use it.
For example i can create 2 pipes. ngxPermissionsOnly and ngxPermissionsExcept. But then i can't use them together.

[2019-12-29 11:20] Nosfistis commented on #124
I don't really see a case where both are needed. In the original directives, I also find the case of both `[ngxPermissionsExcept]="['ADMIN', 'JOHNY']"` and `[ngxPermissionsOnly]="['MANAGER']"` weird; doesn't it mean only `'MANAGER'` can view that div?

If need be, one can combine the 2 pipes using:
[code]

Then there is another idea of having the permissions as pipe argument:
[code]

[2020-01-17 00:53] connectchurch commented on #30
How can extends this guards in Angular 9? Keep using promises? or now, Observable?

[2020-01-20 15:58] jbjhjm commented on #80
I second that. It would make much sense to define a role as a collection of certain permissions/attributes. So the user is assigned a certain Role like Visitor or Admin or RegisteredVip possibly. Each of these roles has certain permissions assigned and in code one would just check against these attributive permissions.

On second thought, as much sense as it would make, this kind of role system do

[2020-01-23 06:57] CarmenTalnariu opened #125 "Is it possible to use 'and' with ngxPermissionsOnly?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[x ] Documentation issue or request
</code></pre>

## Current behavior

I would like to specify multiple permissions that the user needs to have in order to complete an action. The issue is that he needs to have all permissions not just one of th

[2020-01-24 18:05] saratkumar opened #126 "Ngx permission is not working properly for lazy loading"
## I'm submitting a...
<pre><code>
Repository URL: "https://github.com/saratkumar/ngx-permission.git"
</code></pre>

## Current behavior
NgxPermission.forRoot() and NgxPermission.forChild() is not working properly

## Expected behavior
Given repository having two components, one is app component and other one is child

In app.component.ts i have loaded permissions, when i'm trying to access loaded

[2020-01-27 05:45] saratkumar commented on #126
@AlexKhymenko

[2020-01-27 09:58] #126 closed

[2020-01-28 03:44] newmesiss commented on #122
@surebro00 could you integrate it with firebase?

[2020-02-05 11:31] AlexKhymenko commented on #125
@CarmenTalnariu In this case You have to create role. In roles its using && operator. Sorry for late response. Or Also You can create customer function.

[2020-02-05 11:32] #123 closed

[2020-02-05 11:32] #97 closed

[2020-02-17 17:35] SrHuevo opened #128 "StaticInjectorError(AppModule)[NgIf -> TemplateRef]"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[X] Documentation issue or request
</code></pre>

## Current behavior
My application throw "StaticInjectorError(AppModule)[NgIf -> TemplateRef]" and I belive that import all NgxPermissionsModule necessary.

This is my app.module.ts:
<pre><code>
@

[2020-02-18 15:22] AlexKhymenko commented on #128
This is connected to ngIf. Just import common module. Not connected to the library.

[2020-02-18 15:22] #128 closed

[2020-04-10 07:18] GitHubish opened #130 "Strategies to disable a button no longer works"
The strategies for disabling buttons when a user does not have permission doesn't seem to work anymore recently. Maybe since the Angular 9.1.0 release?

I've been following the whole wiki about this feature, and where it's been working for over a year now I found that my application had a regression.

[Wiki Disable Element](https://github.com/AlexKhymenko/ngx-permissions/wiki/Common-use-cases#disa

[2020-04-10 07:52] GitHubish commented on #130
If I replace nextSibling with previousSibling it points to my button which should be disabled and it works. Finally I have the impression that it's mostly the Readme that should be edited. I'll let you see if it's a regression or the desired behavior.

Hopefully this will help people who have the same concerns as me.

[2020-04-14 13:39] AlexKhymenko commented on #130
Hi @GitHubish Thank You. I will leave this open maybe it will help people. If this behaviour will still be in the future(they can change it). I will change wiki :-)

[2020-04-14 13:40] #125 closed

[2020-04-18 12:51] faradoxuz opened #131 "NgxPermissionsModule.forRoot returns a ModuleWithProviders type without a generic type argument."
NgxPermissionsModule.forRoot returns a ModuleWithProviders type without a generic type argument. Please add a generic type argument to the ModuleWithProviders type. If this occurrence is in library code you don't control, please contact the library authors.

[2020-04-20 13:14] AtefMlaouhi opened #132 "NgxPermissionsRouterData"
## NgxPermissionsRouterData Bug

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

when I use [NgxPermissionsGuard](https://github.com/AlexKhymenko/ngx-permissions#usage-with-routes)
if data passed in route is null | undefined | Empty String
the che

[2020-04-22 06:08] AlexKhymenko commented on #132
Hi @AtefMlaouhi  working as intended. Cause If you don't specify permissions that are allowed then everything is allowed. :-)

[2020-04-22 06:08] #132 closed

[2020-04-29 12:22] Lempkin opened #133 "When to use getPermission() or hasPermission()?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior
I didn't find some advice about how to use the getPermission() or hasPermission()? What's the differences between each other and when should we use one or the other?

## Enviro

[2020-05-06 03:15] weilies commented on #80
hi Alex,

My TS as below

[code]

template as below

[code]

Expected output
[code]

Actual output
[code]

I am quite confused as my intention is to call myself "SUPERMAN" (role) with given permissions 'addUser', 'configPay'. So, technically, for any <ng-template> doesn't have the two, should be hide, shouldn't it?

[2020-05-06 06:31] weilies opened #134 "Setting Permission in template"
I would like to clarify what's the proper sample code if i would like to implement role-permission based security control in my template. I have no problem running the code WITHOUT roles. I could show/hide template sections with permissions.

But things start to confuse, correct me if i am wrong, we can still set 'canSomeAction' in template even we introduce roles, right?
What's happened to me, fo

[2020-05-06 08:05] g-schmitz commented on #80
That's because this project is very counter-logical / counter-intuitive and actually doesn't help with what 99% of people are trying to achieve with it. Very unfortunate because it is an otherwise very beautiful project as far as I'm concerned.

[2020-05-06 16:51] weilies commented on #80
OMG!! i hope what you said isn't true... i jz came from [CASL](https://github.com/stalniy/casl-examples) given the popularity, i decided to move to ngx-permission instead and straight away i hit a huge roadblock

[2020-05-07 14:55] AlexKhymenko commented on #134
Hi @weilies I understand this can be confusion. Just think of roles as 'and' operator(so when You specify Employee roles it means that user should have addCompany and config pay to see whats inside.
`this.rolesServices.addRole("EMPLOYEE", ["addCompany", "configPay"])
`
To make it work
[code]

All the set up is done in permissions. I understand this can be a little bit confused. I will better expla

[2020-05-07 14:59] AlexKhymenko commented on #133
Hi @Lempkin  hasPermission will return boolean if it has permission or not.
getPermission will return permission object with all permissions that You have

[2020-05-07 14:59] #133 closed

[2020-05-07 16:23] weilies commented on #134
hi @AlexKhymenko , i am extremely fine to add both 'addPermission' + addRole' in the code. Even they look redundant but i am completely fine with that.
With your sample code it look clearer. Thanks!

[2020-05-07 16:23] #134 closed

[2020-05-07 16:32] weilies commented on #134
Just to share how i designed my security matrix, it makes me understand easier without introduce/implement your 'role'. When the accesses initiate, i will pump in a ROLE after user logged in.

[code]

Hence, there ain't a need for me to execute addRole in my use case.
Thanks!

[2020-05-07 16:36] AlexKhymenko commented on #134
@weilies Thanks for sharing!!!. It will help someone to Use Your solution :-)

[2020-05-27 11:54] tplk commented on #124
@AlexKhymenko hello, can you share your WIP version for now, please?

[2020-05-30 15:32] AlexKhymenko commented on #124
@tplk it was on old computer. Now its lost forever :-(

[2020-06-02 12:58] gmerabishvili commented on #116
@AlexKhymenko Can you help me? I'm struggling for same scenario for almost two days already : (

[2020-06-26 20:43] monstrege commented on #131
This should have been done for Angular 9, now Angular 10 complains for real.
@AlexKhymenko : Are you still updating this library?

The documentation for this change is here: https://angular.io/guide/migration-module-with-providers.

[2020-06-28 19:12] faradoxuz opened #136 "How to redirect to sibling route"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior

when using redirectTo feature, when i use sibling route like  ```redirectTo: 'some-route'```, it says
Cannot match any routes

## Expected behavior

when use without slash it

[2020-06-28 19:15] faradoxuz commented on #69
same issue

[2020-06-30 04:59] AlexKhymenko commented on #131
Hi @monstrege unfortunately I will be able to look into this issue not earlier then Saturday :-(

[2020-07-01 06:48] SagarKapasi099 opened #137 "Generic type 'ModuleWithProviders<T>' requires 1 type argument(s) - Error."
## I'm submitting a Bug Report

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

<code>
<pre>
ERROR in node_modules/ngx-permissions/lib/index.d.ts:21:58 - error TS2314: Generic type 'ModuleWithProviders<T>' requires 1 type argument(s).

21     stat

[2020-07-01 06:50] AlexKhymenko commented on #137
@SagarKapasi099 Will be fixed on Saturday. Or maybe somebody will create pr before :-)

[2020-07-01 06:52] SagarKapasi099 commented on #137
Actually the code looks like it is fixed.
Please have a look at (Line 51) https://github.com/AlexKhymenko/ngx-permissions/blob/48892d6be4ca7cf07821a160fe142420025e2c7c/projects/ngx-permissions/src/lib/index.ts

[2020-07-02 09:29] BrkCoder opened #138 "Function in *ngxPermissions no longer works on angular 10"
## I'm submitting a...

<pre><code>
[ X ] Regression (a behavior that used to work and stopped working in a new release)
[ X ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
when placed a function into *ngPermissionsOnly input, the entire app is frozen and not applicable.

## Expected behavior
*ngPermissionsOnly should take string, string[], an

[2020-07-02 10:30] BrkCoder commented on #138
Please handle this asap, your library doesn't suitable for prod environments at all. this issue also happen in angular 9 , 8

[2020-07-02 15:03] AlexKhymenko commented on #138
@BrkCoder where did You find that You can put function inside *ngxPermissionsOnly ?

[2020-07-02 15:05] AlexKhymenko commented on #138
https://github.com/AlexKhymenko/ngx-permissions/wiki/Controlling-access-in-views it only accept string or string[]? maybe the result of the function that is string or string[]

[2020-07-02 15:17] BrkCoder commented on #138
I remember correctly that it work with functions also...
![image](https://user-images.githubusercontent.com/5408870/86376883-53796a80-bc90-11ea-97f8-995809b298e9.png)

[2020-07-02 15:19] BrkCoder commented on #138
yes the result of the function is a string or string array...

[2020-07-02 15:24] AlexKhymenko commented on #138
The chapter that You send is from routes not from directive.
Its very diffucult to say whats wrong without seeing the code. The link doesn't work for some reason

[2020-07-06 08:31] tilowestermann opened #139 "Invalid redirection with Object as redirectTo property"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

Having a `redirectTo` property with an object breaks permission checks. See provided Stackblitz demo

## Expected behavior
Permissions should be checked properly.

## Minimal

[2020-07-08 07:29] AlexKhymenko commented on #137
@SagarKapasi099 Fixed in version 8.0.0

[2020-07-08 07:30] AlexKhymenko commented on #131
Fixed in version 8.0.0

[2020-08-03 12:56] timaxapa commented on #136
Did not find the clear solution for that. Had to do the following as quick fix
[code]

[2020-08-04 16:08] Lempkin opened #143 "Mock NgxPermissionsService in component and subcomponent"
#2  I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
I have a component which use *ngxPermissionsOnly in its template, so in the UT i've used NgxPermissionsAllowStubDirective/NgxPermissionsRestrictStubDirective

I have another c

[2020-08-05 13:28] egorgrushin opened #144 "getInternalNameOfClass() called on a non-ES5"
angular: 9.0.5
ngx-permissions: 8.0.0
tsconfig.target: es5

It throws next error on build:

WARNING in Invalid constructor parameter decorator in /home/user/workspace/epm-idev/epm-idev-dpv4-gitlab-pull-requests@2/app/node_modules/ngx-permissions/fesm2015/ngx-permissions.js:
 () => []

ERROR in getInternalNameOfClass() called on a non-ES5 class: expected NgxPermissionsConfigurationStore to have an

[2020-08-06 14:04] mfrieling opened #145 "Add optional context to directives"
#2  I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Currently using the `ngxPermissionsOnly` and `ngxPermissionsExcept` we can pass one or more permission or role names as string and basically it checks whether the current user

[2020-08-11 15:27] paolosanchi commented on #145
I need this too, if anyone is already on it, I'm going with the implementation.

however, probably the best for routing is to doing like this:

let routes = [
  { path: '',
    canActivate: [AuthGuard],
    children: [
      {path: 'component',
      component: ComponentName,
      canActivate: [NgxPermissionsGuard],
      data: {
         permissions: {
           only: ['ADMIN', 'MODERATOR'],

[2020-08-12 08:12] paolosanchi commented on #145
As I expected the issue is that the validation function is defined as this:

`export declare type ValidationFn = ((name?: string, store?: any) => Promise<void | string | boolean> | boolean | string[]);`

it means that if we set the context as the first parameter it would break every compatibility, unless we do something like this:

`export declare type ValidationFn = ((name?: string | object, stor

[2020-08-13 09:07] paolosanchi commented on #145
I made the changes to do this, and it was almost easy, you can check it out here (I'll provide some examples soon):
https://github.com/paolosanchi/ngx-permissions/tree/addContextToValidationFunction

The router part is not completed yet, but I'm almost there.

I've an issue with the build, @AlexKhymenko what is the command to run? When I import the dist folder to my test project I got errors,
Angu

[2020-09-14 07:12] dtomaszewski commented on #80
Hi @AlexKhymenko do You have any plans to change this functionality ? I think a lot of users (so do I) are confused with need to mantain permissions in two places. I had exactly the same doubts as people in this thread and I was not able to exactly know how lib works from docs without console logging output and reading this thread.

Maybe at least some config should be added to have all permission

[2020-09-15 14:07] AlexWalkerson opened #148 "NgxPermissionsGuard: route without data.permissions"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

[code]

## Expected behavior
NgxPermissionsGuard should ignore routes that do not have data.permission property.

## Minimal reproduction of the problem with instructions
http

[2020-09-16 06:59] AlexKhymenko commented on #80
Hi @dtomaszewski I actually developed this functionality but something stoped me. I will revisit this functionality :-)

[2020-09-23 06:31] AlexKhymenko commented on #80
Thank For all You patience. Added this functionality + more. Added addRoleWithPermissions, addRolesWithPermissions, flushRolesAndPermissions. Available in 8.1.0

[2020-09-23 06:31] #80 closed

[2020-09-23 06:50] dtomaszewski commented on #80
Thanks @AlexKhymenko I'll check it asap :)

[2020-09-23 07:09] #131 closed

[2020-09-23 07:10] #137 closed

[2020-09-23 07:14] #138 closed

[2020-09-28 03:10] quan1997ap opened #150 "redirectTo not working"
Hi dev team.  I try use your library in my project and config like image below.
But it only work when user has true permission ( loaded before ). When change another permission ( not loaded before ). It not redirect to error path.
I dont know what's a reason. Can u help me!
Thanks all.

I am using
"ngx-permissions": "^8.1.1",
angular 10

![image](https://user-images.githubusercontent.com/38683698/

[2020-09-28 05:49] AlexKhymenko commented on #150
@quan1997ap the library uses https://angular.io/api/router/Router#navigate under the hood. Can You navigate with this function ?

[2020-09-30 13:46] AlexWalkerson commented on #148
Are there any changes regarding this issue?
![image](https://user-images.githubusercontent.com/16510166/94692571-5b9e8000-033b-11eb-8b57-89c54f7d66a2.png)

[2020-10-01 06:57] AlexKhymenko commented on #148
Hi @AlexWalkerson Thank For patience. So basically to fix it there is a need to specify data in child component . This is angular restriction
![image](https://user-images.githubusercontent.com/6598397/94777569-563d4600-03cc-11eb-83a9-859f691f2d58.png)

In wiki there is description https://github.com/AlexKhymenko/ngx-permissions/wiki/Usage-with-routes#can-activate-child-guard

Working example here

[2020-10-01 06:57] #148 closed

[2020-10-02 12:48] Tumetsu opened #151 "Load permissions by list of roles"
We have a use case where we list of roles from server the user should have. For example:
[code]
And we would like to define permissions for each role as such:
[code]
The problem is that currently as far as I understand the `loadPermissions` loads the available permissions for the user and the role definitions just lets us to use role names in guards etc.

Would it be possible to use `loadPermissio

[2020-10-02 13:00] AlexKhymenko commented on #151
Hi @Tumetsu use NgxRolesService
  .addRoleWithPermissions('ADMIN', ['read', 'write']);

more information about roles here

https://github.com/AlexKhymenko/ngx-permissions/wiki/Managing-roles

[2020-10-02 13:00] #151 closed

[2020-10-02 13:01] AlexKhymenko commented on #150
Hi think this is resolved? If no please reopen issue

[2020-10-02 13:01] #150 closed

[2020-10-06 13:32] GitHubish commented on #58
The latest version (8.1.0) released a few days ago adds this possibility, doesn't it? Roles seem to be fully supported? I haven't been able to test or look at it in detail yet.

https://github.com/AlexKhymenko/ngx-permissions/releases/tag/v8.1.0

[2020-10-06 14:48] AlexKhymenko commented on #58
@GitHubish  use the latest version 8.1.1

[2020-10-28 10:22] ammar-esrawi opened #152 "has permission function always returns false , but the directive returns true"
<pre><code>
evaluateCP(perms, attrName) {
    this.permissionsService.

    hasPermission(perms).then(
      v =>{
        this.calculatedPermissions[attrName] = v; //v always false but *ngxPermissionsOnly renders the view
        console.log(v);
      }

    );
  }
</code></pre>

I am unable to use *ngxPermissionsOnly  cuz inside a metsmenu ul the *ngxPermissionsOnly  breaks the nested menu

it l

[2020-10-28 21:01] AlexKhymenko commented on #152
H @ammar-esrawi i. What version are You using? And it would be very nice If You can create reproduction

[2020-10-29 06:34] betepok13 commented on #144
`Error: Error on worker #1: Error: getInternalNameOfClass() called on a non-ES5 class: expected NgxPermissionsConfigurationStore to have an inner class declaration`

I got the same error while building the project.

[2020-11-05 13:11] #152 closed

[2020-11-05 13:12] AlexKhymenko commented on #152
If You have problems please reopen it :-) Thank You :-)

[2020-11-06 14:34] abalad commented on #125
In a project I also work with RULES, and I really needed to perform a validation where the USER needs to have all the permissions to access certain functionality.

[2020-11-06 14:40] abalad opened #153 "Create directive ngxPermissionsOnlyAll to validate that you have ALL the rules"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ X ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

I would like to specify multiple permissions that the user needs to have in order to complete an action. The issue is that he needs to have all permissions not just one of t

[2020-11-07 11:42] AlexKhymenko commented on #153
@abalad Hi its possible with roles roles use and operator
[code]

And then just use
[code]

If the user doesnt have read and write it will not show.

[2020-11-07 11:42] #153 closed

[2020-11-09 14:31] ManojKuma007 opened #154 "How can we give access to user on having only two specific permissions"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Environment

<pre><code>
Angular version: X.Y.Z
ngx-permissions version: X.Y.Z

Browser:
- [

[2020-11-09 21:07] AlexKhymenko commented on #154
Hi @ManojKuma007 there is not enough information to give you advice. Maybe You can find it in documentation https://github.com/AlexKhymenko/ngx-permissions/wiki. Have a nice day.

[2020-11-13 07:54] omnibrain commented on #143
I'm having the same Problem...

[2020-11-17 13:10] #154 closed

[2020-12-23 12:51] entspannt commented on #88
I also needed a pipe to handle permissions. Here's my solution:

`
import { Pipe, PipeTransform } from '@angular/core';
import { NgxPermissionsService } from 'ngx-permissions';
import { Observable } from 'rxjs';
import { map } from 'rxjs/operators';
import { Store } from '@ngrx/store';
import { userAccessRights } from '../auth/auth.selectors';

@Pipe({
    name: 'permission',
})
export class Permi

[2021-01-06 14:19] faradoxuz opened #155 "addRolesWithPermissions not emitting roles$ Observable"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

After adding roles
`this._roleService.addRolesWithPermissions(obj);`
$roles.subscribe() not working

## Expected behavior

$roles.subscribe() must work

[2021-01-06 15:01] AlexKhymenko commented on #155
Hi @faradoxuz can You create reproduction. It would speed up fixing ?

[2021-01-06 15:13] faradoxuz commented on #155
Hi @AlexKhymenko , stackblitz?

[2021-01-06 15:16] AlexKhymenko commented on #155
Would be nice

[2021-01-06 15:25] faradoxuz commented on #155
oh, sorry @AlexKhymenko, my bad :), i had an error before adding the role, you can close this issue.

[2021-01-06 15:26] faradoxuz commented on #155
anyway, this is the stackblitz
https://stackblitz.com/edit/angular-ivy-1qqjd2

[2021-01-06 15:27] AlexKhymenko commented on #155
@faradoxuz No problems. Have a great day :-) Thanks for stackblitz!!

[2021-01-06 15:28] faradoxuz commented on #155
Thank you for great library

[2021-01-06 15:29] #155 closed

[2021-01-21 09:16] blacksider opened #156 "NgxPermissionGuard(canActivateChild) throws error on route with no data.permissions"
## I'm submitting a...
<pre><code>
[ ] Bug report
</code></pre>

## Current behavior
Route redirect throws error like this:

[code]

Where it throws this error is a empty route with data set but no permissions, and the line in function hasPermissions
[code]
returns undefined

## Expected behavior
Do not return undenfined, such as change that line to:
[code]
to return empty object.

## Minimal repr

[2021-01-21 09:49] AlexKhymenko commented on #156
Hi @blacksider this is angular restriction more in this issue https://github.com/AlexKhymenko/ngx-permissions/issues/148#issuecomment-701930249

[2021-01-21 11:09] blacksider commented on #156
Thanks for point out @AlexKhymenko.  It used to work perfectly, any idea why this is happenning? I still dont't understand which part angular's been glitchy like this.

[2021-01-21 11:18] AlexKhymenko commented on #156
@blacksider This is not a glitch this is their design decision.You pass guard to canActivateChild. And then You have to specify data for every child. Its counter intuitive :-(

[2021-01-21 11:25] AlexKhymenko commented on #156
I would recomment using canLoad here

[2021-01-22 04:10] #156 closed

[2021-01-23 06:18] blacksider commented on #156
@AlexKhymenko ah, ok, got it, thanks for the explanation!

[2021-02-02 11:42] salahatwa opened #157 "NgxPermssionGaurd not work with routing target="_blank""
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
When using NgxPermissionGuard with  target="_blank" , [behavior to open new link on new tab]
`<a routeLink="/admin" target="_blank">`
 it's always give unauthorized even if use

[2021-02-02 12:09] AlexKhymenko commented on #157
@salahatwa Can I get reproduction?

[2021-02-02 12:45] salahatwa commented on #157
sorry it's organization project

[2021-02-02 13:31] AlexKhymenko commented on #157
still need reproduction :-) with the information that is available, not able to fix

[2021-02-02 17:20] #157 closed

[2021-02-08 09:58] markosimulak opened #158 "Error with shared module approach"
Hi :)

I tried to isolate `NgxPermissionsModule` into SharedModule.
Then I tried to use `NgxPermissionsService` in my `app.component.ts`, but I got an error:

![image](https://user-images.githubusercontent.com/21991764/107203058-38779180-69fb-11eb-8348-d5fe1690c2d5.png)

I tried to fixed that error by adding `NgxPermissionsService` in `SharedModule` providers  but then I got second error:

![image

[2021-02-08 14:21] AlexKhymenko commented on #158
So basically add forRoot in Your main module. and without forRoot in Your shared module. And everything will be working as intented

[2021-02-09 12:39] #158 closed

[2021-02-10 09:34] GasyTek commented on #145
Need this feature too, @paolosanchi  have you managed to make it work ?

[2021-02-10 10:01] markosimulak commented on #158
Ok, thanks!

[2021-02-26 06:34] paolosanchi commented on #145
I'm sorry, but I moved to https://github.com/stalniy/casl and I'm sticking with it. It has this feature and many more.
I can't remember where I got with this issue. You can check the changes I made at the time, anyway:
https://github.com/paolosanchi/ngx-permissions/commit/4fd189892b768dbfbe0dbe8bf452db0120bfde7c

[2021-03-03 14:22] roma2341 opened #159 "Multiple redirection rules. Redirect if has permission"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Redirection rule can only fire when user has no permission

## Expected behavior
There should be the way to make this works like intended - redirect admin's to admin route and

[2021-03-04 10:00] dmielewczyk opened #160 "New property (oneOf) in route permission object"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

Currently there is no property in `permissions` object to handle a case when we need to allow access user with PERMISSION_1 or PERMISSION_2.

## Expected behavior

I would exp

[2021-03-04 10:24] AlexKhymenko commented on #160
Hi. @dmielewczyk You can acchive this by creating Your custom permission

[code]

And then use it in guard

[2021-03-04 10:24] AlexKhymenko commented on #159
A little bit didn't understand what exactly You mean.

[2021-03-04 11:13] dmielewczyk commented on #160
@AlexKhymenko thanks for the fast answer and proposed solution. Adding custom permission is a great feature that seems to be the cure for many problems. However I'm not a fan of mutating (in this case creating special permissions just for frontend purposes) and for me it would be great to handle it on route object definition level (that's more transparent).

If you would need some help with provid

[2021-03-09 15:52] MykhailoIskiv commented on #148
Hi @AlexKhymenko, thanks for the lib :)
I'm facing the same issue, during update the lib from 7.0.3 to 8.1.0.
After updating it I got the error as originally described by @AlexWalkerson.
I have a ```canActivateChild: [NgxPermissionsGuard]``` in my parent route
and in my child routes I have
[code]

but I need to run guard  only for some of my child routes, not all
so
previously I was able to add ca

[2021-03-10 05:26] helmerfuentes opened #162 "Reload page not work * ngxPermissionsOnly"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

When reloading the page it doesn't work * ngxPermissions Only, I have app.module NgxPermissionsModule.forRoot () and in the other modules forforChild ()

## Expected behavior

[2021-03-10 05:38] #162 closed

[2021-03-10 16:52] DenzelCode opened #163 "NgxPermissionsTestingModule"
The community NEEDS a NgxPermissionsTestingModule :(

https://github.com/AlexKhymenko/ngx-permissions/blob/master/projects/ngx-permissions/src/lib/testing/permissions-testing.module.ts

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current

[2021-03-15 06:44] AlexKhymenko commented on #163
Hi @DenzelCode You have testing module how to use it is here https://github.com/AlexKhymenko/ngx-permissions/wiki/Testing

[2021-03-15 11:59] DenzelCode commented on #163
There is just a declaration for directives but not a module

[2021-03-15 11:59] DenzelCode commented on #163
And it doesn't includes the service

[2021-03-16 07:16] AlexKhymenko commented on #163
@DenzelCode Thank You. Will implement it the problem is im quite busy right now. Will do when have time. But think till the next monday will be ready

[2021-03-16 13:12] DenzelCode commented on #163
Thank you! Have a nice day

[2021-03-18 09:51] Lempkin opened #164 "NgxPermissionsGuard : multiple mandatory permissions"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

When setting only Array of permissions, user should have one of the permissions to be allowed.

## Expected behavior

To have a way to list multiple mandatory permissions to

[2021-03-18 12:56] AlexKhymenko commented on #164
Hi @Lempkin  You can actually achieve it in 2 ways. First one create custom permission and specify what You want there'
[code]

Or you can create role

`NgxRolesService
  .addRole('andOperator', ['ADMIN', 'USER']);`

And use in tempalte

`<div *ngxPermissionsOnly="['andOperator']">`

[2021-03-18 13:08] Lempkin commented on #164
Hi thx for your answer but I mean for route control, with the NgxPermissionGuard, like :
[code]

For now, user will be allowed if he has perm1 OR perm2. I would like to be able to specify that he should have perm1 AND perm2

[2021-03-19 07:40] AlexKhymenko commented on #164
@Lempkin You can achive the same in route

canActivate: [NgxPermissionsGuard],
    data: {
      permissions: {
        only: ['andOperator'],
        redirectTo: FORBIDDEN_ROUTE,
      }
    }

[2021-04-17 13:44] blindsz opened #166 "Angular 11 Support"
Hi, whencan we expect angular 11 support?

[2021-04-19 07:12] AlexKhymenko commented on #166
Hi @blindsz its actually supports angular 11 already

[2021-04-19 07:12] #166 closed

[2021-04-19 07:17] blindsz commented on #166
I think this would cause a warning of peer dependencies.

[2021-04-19 13:14] AlexKhymenko commented on #166
@blindsz Yes I will update a little bit later so overload right now. Thank You for bringing it.

[2021-04-20 02:53] blindsz commented on #166
No worries! Thanks!

[2021-05-05 07:11] chrsi commented on #143
Yes we're experiencing the same.

As a current workaround I'll had to mock some internals:
[code]
All we needed was our tests to pass again. Since they didn't rely on any permissions, providing a NEVER observable was sufficient for us. In order to properly mock the permission library you'll have to add proper values for the `NgxRolesService.roles$` and `NgxPermissionsService.permissions$` observab

[2021-05-19 18:58] xts-velkumars opened #173 "NgxPermissionsService loosing data on page refresh"
Hi, I'm setting the permissions from Login Component like below.

**Login Component**
[code]

On the successful login, page will be redirected to Dashboard page.
I'm doing console to check the permission ngOnInit. I'm getting the data as excepted.

**Dashboard Component**

[code]
**Before refresh**

![image](https://user-images.githubusercontent.com/13570225/118868613-04691200-b902-11eb-85ee-d3445

[2021-05-28 06:59] bikerp commented on #173
I'm facing the same issue. Do you have any suggestion how to fix it?

[2021-05-28 07:08] AlexKhymenko commented on #173
Hi its because angular looses all data on refresh. One suggestion for fix is described in wiki https://github.com/AlexKhymenko/ngx-permissions/wiki/common-use-cases#save-permissions-on-page-refresh

[2021-05-31 06:02] #173 closed

[2021-07-02 13:03] Lempkin commented on #164
Hi, thx for your answer but that means that I have to create a role for every combination that I need to protect the routes. Would be more handy to be able to combine it into an array in routes data

[2021-07-05 06:34] AlexKhymenko commented on #164
@Lempkin What Do You think good api will look for this feature?

[2021-07-06 13:04] khodabandelu opened #177 "how to have custom Guard"
how can i have custom guard with extend NgxPermissionsGuard and add some of my functionalities

[2021-07-06 13:05] khodabandelu opened #178 "how to set default value for redirectTo"
how can i set Default value for redirectTo in NgxPermissionsGuard.

[2021-07-13 12:27] AlexKhymenko commented on #178
@timhoekstra This is great idea. Will look into it

[2021-07-26 12:12] AlexKhymenko commented on #178
@khodabandelu @timhoekstra What do You think, is it ok If You still have to specify redirectTo object (even empty) ?

[code]

This is use case when in the project You just want to block user coming to page, not to redirect him somewhere

[2021-07-27 07:04] khodabandelu commented on #178
i need default value for all canload and canActivate to redirect to page 403 so that I dont have to duplicate redirecTo option to set page 403 for permission exception whereever i use NgxPermissionGuard .

for solve this problem i have to create own permmissionGuard and override NgxPermissionsRouterData before call NgxPermissionGuard methods.

my own Guard that I use NgxPermissionsGuard methods to

[2021-07-27 07:40] timhoekstra commented on #178
Do you mean having to specify it on every route as empty?

I would expect the following:
[code]

If you want to keep the option open to block the incoming user then yes I think it's a good idea to be able to specify an empty object to block the user either as the defaultRedirectTo or the route redirectTo.

I would like to remark that in the meantime I have also taken the approach of @khodabandelu

[2021-08-04 13:06] AlexKhymenko commented on #178
@timhoekstra @khodabandelu After careful thinking its much better to add Your code to the documentation so it will be easier for people to create their own custom guard.It will solve more problems. Thank You for helping!

[2021-08-04 13:06] #178 closed

[2021-08-04 13:06] AlexKhymenko commented on #177
Will be added in documentation

[2021-08-04 13:06] #177 closed

[2021-09-30 11:13] CappfinitySimon commented on #163
I'm also interested in this, as I need to test the UI for different sets of permissions

[2021-11-20 09:17] nzbin opened #184 "Upgrade to Angular 13"

[2021-11-20 11:34] AlexKhymenko commented on #184
@nzbin does is not work with angular 13?

[2021-11-22 21:28] #184 closed

[2021-12-05 10:32] AlexKhymenko commented on #164
Sorry for very late response. This can be achived by creating Your own guard and extending ngxPermissionsGuard

[2021-12-05 10:32] #164 closed

[2021-12-09 12:37] nidhinkumar06 opened #186 "Rolebased access for elements and side bars"
How to set role-based access for side nav and elements in Angular using Ngx-permissions

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior
I have been looking at the Ngx-permissions library and tried to implement it for role-b

[2021-12-09 12:41] AlexKhymenko commented on #186
Hi @nidhinkumar06 You are setting permissions with this line

`this.roleService.addRolesWithPermissions({
  SUPER_ADMIN : ['canViewDashboard', 'canAddOrganization', 'canViewOrganization', 'canEditOrganization'],
  PARK_ADMIN: ['canViewDashboard', 'canViewOrganization', 'canEditOrganization']
});`

so they are in the app

You can use just addRole and then load permissions to the application

[2021-12-09 12:52] nidhinkumar06 commented on #186
@AlexKhymenko  So in the load permission, we have to use like below right?

[code]

[2021-12-09 13:10] AlexKhymenko commented on #186
@nidhinkumar06 it works differently to loadPermissions You will need to use 2 lines

`
this.rolesService.addRole( SUPER_ADMIN : ['canViewDashboard', 'canAddOrganization', 'canViewOrganization', 'canEditOrganization'])
this.permissionService.loadPermission(['canViewDashboard', 'canAddOrganization', 'canViewOrganization', 'canEditOrganization'])`

this is what addRolesWithPermissions does

[2021-12-09 13:10] AlexKhymenko commented on #186
https://github.com/AlexKhymenko/ngx-permissions/wiki/Managing-roles#confusion-with-roles

[2021-12-09 13:14] nidhinkumar06 commented on #186
But if we have multiple roles then we should we

[2021-12-09 13:14] #186 closed

[2021-12-27 14:10] MahmoudTarekAli opened #187 "*ngxPermissionsOnly Or *ngxPermissionsExcept Not Working"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

*ngxPermissionsOnly not working it says ("not Directive is matched on attribute ngxPermissionOnly")

My Angular version is 12 I tried to install ngxpermission v8.1.1 this issu

[2021-12-27 14:48] AlexKhymenko commented on #187
@MahmoudTarekAli Can You please share the code (if its possible can You create codePen). Did You import the NgxPermissionsModule? I have tested everything worked version 12 with 8.1.1

[2021-12-27 15:56] MahmoudTarekAli commented on #187
yes i tried again with 8.1.1everything works fine... so should i use 8.1.1 with angular 12 not v13.0.1

[2021-12-28 09:06] AlexKhymenko commented on #187
@MahmoudTarekAli use 8.1.1 with angular 12. Thank You will add to the documentation to help others.

[2021-12-28 09:16] AlexKhymenko commented on #187
Updated. Thank You very much for helping!

[2021-12-28 09:16] #187 closed

[2021-12-28 09:26] MahmoudTarekAli commented on #187
Thank you for your support and for this amazing library

[2022-02-23 10:51] RichardBoyder opened #194 "Can't install nix-permissions latest, but can install 8.1.1"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

When installing 13.0.0 or 13.1.0 getting a install error:
richardboyder@Richards-MBP-3 Titanic % npm i ngx-permissions@13.0.0
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable

[2022-02-23 11:25] AlexKhymenko commented on #194
Hi @RichardBoyder . Version 13 is for angular 13, please use 8.1.1 for angular 12. Have a great day.

[2022-02-23 15:09] #194 closed

[2022-03-04 12:16] PhilippMeissner opened #196 "SyntaxError: Cannot use import statement outside a module"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

When running our tests with jest we receive the error `SyntaxError: Cannot use import statement outside a module`

[code]

## Expected behavior
The import should just work as

[2022-03-16 09:04] PhilippS93 commented on #187
In Angular 13, also 8.1.1 is not working for me.

[2022-03-18 21:24] AlexKhymenko opened #197 "Help Ukraine any help"
If You can help Ukrainian army https://bank.gov.ua/en/about/support-the-armed-forces

Humanitarian aid https://bank.gov.ua/en/about/humanitarian-aid-to-ukraine

Any help is welcomed.

[2022-04-05 12:47] masteruser20 opened #198 "Roles With Permissions"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior

There is no example how We can use the new methods.
like: addRolesWithPermissions.

I don't know how to use permission instead of using role everywhere.
I want to be able to u

[2022-04-06 15:01] denes16 commented on #124
Any news on this?.
I can create a pr, but please let me know where i have to start.

[2022-06-21 05:24] RezaT1994 opened #200 "Guard is not working with angular SSR"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

Guard not working in angular ssr. When I hit refresh on browser, the home page loads at first, then immediately switches to expected route that has the canActivate option.

##

[2022-06-21 15:11] hocine15 commented on #32
Hi,

I have the same issue when trying ton inject NgxPermissionsService in providers when trying to bootrap application using a standalone appComponent in angular 14

here is the errors logs:

ERROR Error: Uncaught (in promise): NullInjectorError: R3InjectorError(Environment Injector)[AuthSecurityService -> AuthenticationService -> NgxPermissionsService -> InjectionToken USE_PERMISSIONS_STORE -> I

[2022-06-21 15:32] hocine15 commented on #32
I found the solution

importProvidersFrom(NgxPermissionsModule.forRoot())

[2022-08-27 08:25] framasev opened #202 "`getPermission` returns an incomplete type"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[✓] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>
## Current behavior

`getPermission` method return type is `NgxPermission`.

## Expected behavior

`getPermission` method return type is `NgxPermission | undefined`;

[2022-08-27 08:36] AlexKhymenko commented on #202
@framasev Thank You it makes sense. Will fix when possible

[2022-09-16 21:36] intezzz commented on #163
@CappfinitySimon  sorry for digging up an old comment, were you able to test the UI for different sets of permissions?

[2022-09-18 13:20] AlexKhymenko commented on #202
Fixed on the latest release by the great person @jkubiszewski

[2022-09-18 13:20] #202 closed

[2022-09-19 20:04] #200 closed

[2022-09-20 09:12] CappfinitySimon commented on #163
@intezzz Unfortunately no. In the end we used e2e tests with Playwright to test for permissions

[2022-10-12 20:14] fritzwf opened #204 "Can't bind to 'ngxPermissionsOnly' since it isn't a known property of 'div'"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

I have the same issue as: https://github.com/AlexKhymenko/ngx-permissions/issues/114

## Expected behavior

I am using Angular 14 and I am using: "ngx-permissions": "~14.0.0"

[2022-10-13 04:51] AlexKhymenko commented on #204
@fritzwf Did You do the solution of the same issue as: https://github.com/AlexKhymenko/ngx-permissions/issues/114

[2022-10-13 22:04] fritzwf commented on #204
Yes, that didn't work, I don't a shared module.  I created an angular app to test it.

https://github.com/fritzwf/ngx-permissions-test

[2022-10-16 06:41] AlexKhymenko commented on #204
@fritzwf I dont understand it. Please look into the wiki on youtube how to install the library.

[2022-10-16 12:53] fritzwf commented on #204
Thanks

[2022-10-16 19:11] fritzwf commented on #204
I had a missing import!

[2022-10-16 19:11] #204 closed

[2022-10-17 08:51] AlexKhymenko commented on #204
@fritzwf Good job

[2022-10-19 08:42] migueltercero opened #205 "Add flag to disable ngx-permissions in runtime"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ X] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
We have a layout component that imports and use ngx-permissions. This layout component is used by multiple applications.

Some applications don´t require security. For theses

[2022-10-19 08:54] AlexKhymenko commented on #205
@migueltercero Yes its possible just create stub with all permissions

[2022-10-19 09:08] migueltercero commented on #205
Thank you for your quick response.

We understand that your solution is do something like this:

`this.permissions.service.loadPermissions(['permission1', 'permission2'] ....)`

Load all permissions. Is correct?

The problem is that this shared component don´t knows permissions of each application, only each application knows their permissions.

For example, if we can define a pattern like `this.p

[2022-10-19 09:56] AlexKhymenko commented on #205
In this case You need to inject stub directive instead of real for example this one https://github.com/AlexKhymenko/ngx-permissions/blob/master/projects/ngx-permissions/src/lib/testing/permissions-allow.directive.stub.ts

[2022-10-21 13:11] migueltercero commented on #205
Ok, we will test your solution.

You can close this issue.

Thank you!!!

[2022-10-22 05:54] #205 closed

[2022-11-18 14:47] swapnil0545 commented on #198
@masteruser20
Can you give a complete example with html also? I am looking for implementing similar.
I have to dynamically create roles with specific permissions and that should constitute to hide/show the ui components. Still have to figure out how that will map to backend apis also.
Any help would be appreciated.
Thanks.

[2022-11-18 19:03] suspecie opened #208 "Cannot find module 'ngx-permissions' from"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
I'm trying to do an unit test using jest + angular.
But when I run unit test, test fail because ngx-permissions package it not reconigzed.

<pre>
 FAIL  src/app/core/components